<!DOCTYPE html> 
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>activities</title>
</head>
<body > 
  <div class="top-bar">
    <div class="sous-top-bar">
      <div class="contact-info">
        <p><span class="red-text">Phone:</span> +216 71 501 080</p>
        <div class="lang">
          <button class="fr" routerLink="/acceuil" routerLinkActive="active" >FR</button>
          <button routerLink="/home" routerLinkActive="active" class="ag" href="/home">AN</button>
        </div>
      </div>
      <div class="social-links">
        <p><span class="red-text">Email:</span> cotech@planet.tn</p>
        <a href="https://twitter.com/cotech" target="_blank"><i class="bi bi-twitter"></i></a>      
        <a href="https://facebook.com/cotech" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://gmail.com/cotech" target="_blank"><i class="bi bi-envelope"></i> </a>
      </div>
    </div>
  </div>
    <div class="navbar">
        <div class="container-fluid">
          <div class="logo">
            <img src="assets/images/logo3.png">
          <div class="name"><h1>Cotech</h1></div>
        </div>
            <div class="links">
                <a class="nav-link" href="/home">Home</a>
                <a class="nav-link" href="/presentation">Presentation</a>
                <a class="nav-link active" href="/services">services</a>
                <a class="nav-link" href="/realisation">Realisation</a>
                <a class="nav-link" href="/certificates">Certificats</a>
                <a class="nav-link" href="/contactus">Contact</a>
            </div>
        </div>
    </div>  
        <div class="page-content">
        <div class="tittle">
             <h1>Activities</h1>
             <select (change)="selectDepartment($event)">
                <option value="Automatismes">Department automation</option>
                <option value="Cablage">Department industrial wiring</option>
                <option value="PersageDosage">Department indrustial drilling  & dosage</option>
            </select>
        </div>
        <div *ngIf="selectedDepartment === 'Automatismes'" class="contenu"> 
            <div class="klem">
                <h4>Department automation</h4>
            <p>Thanks to qualified staff and state-of-the-art equipment implementing the most advanced techniques, this department has specialized in the design and installation of industrial automation and production line supervision systems. Its study service is perfectly capable of determining the technology to apply to automate your equipment.</p>
            
            </div>
            <div class="container">
            <h4>Activities </h4>
                <ul>
                    <li>Search for suitable technical solutions</li>
                    <li>Complete renovation</li>
                    <li>General installation studies: Functional analysis and programming</li>
                    <li>Design, conception, and wiring of electrical cabinets</li>
                    <li>Synoptic diagram creation</li>
                    <li>Commissioning</li>
                    <li>Study, development, supply, and commissioning of supervision and control/command tools</li>
                    <li>Technical assistance</li>
                    <li>Automation personnel training</li>
                    <li>Maintenance</li>
                </ul>
            </div>
              
          </div>
          <div *ngIf="selectedDepartment === 'Cablage'" class="contenu"> 
            
            <div class="klem">
              <h4>Department industrial wiring</h4>
              <br>
              
              <p>Design, wiring, and assembly of industrial electrical cabinets, individually or in series, according to your specifications in terms of finish and standards.</p>
            </div>
            <div class="container">
              <h4>Activités</h4>
              <ul>
                <li>Control cabinets</li>
                <li>Regulation cabinets</li>
                <li>Automation cabinets</li>
                <li>Distribution cabinets</li>
                <li>Control panels with or without graphical synoptic</li>
                <li>Possibility of study, sizing, and design of any type of electrical enclosures</li>
                <li>Design and provision of technical documentation according to customer requests</li>
            </ul>
            </div>
            
          </div>
          <div *ngIf="selectedDepartment === 'PersageDosage'" > 
            <div class="titledosage">
            <h4>Department industrial drilling & dosage</h4>
            </div>
            <div class="contenu">
             <div class="klem">
              
              <p>The department offers you a complete range of weighing and electrical dosing instruments selected from the best global brands, namely: precision balances, counting scales, industrial scales, weighbridges, weighing indicators, weighing conveyor belts, and all types of weight captures.</p>
            </div>
            <div class="klem1">
              <p>
                The main activities of this department include studying your weighing and dosing needs, providing and installing the most reliable and cost-effective solutions. Thanks to our highly skilled personnel and our fast and efficient service, our company has built a loyal clientele, and we invite you to be a part of it.
              </p>
            </div>
          </div>
          </div>
    </div>  


    <footer>
      <div class="footer clear tahoma">
        <div class="footer_wrap">
            <div class="float_left bottom_nav">
                    <ul class="navigation-list">
                     <li><a href="/home">Home</a></li>
                     <li class="divider">|</li>
                     <li><a href="presentation">Presentation</a></li>
                     <li class="divider">|</li>
                     <li><a href="/service">Services</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Réferences</a></li>
                     <li class="divider">|</li>
                     <li><a href="/activities">Activities</a></li>
                     <li class="divider">|</li>
                     <li><a href=""> Catalog</a></li>                     
                     <li><a href="">Equipement</a></li>
                     <li class="divider">|</li>
                     <li><a href="/certificates" >Certificates</a></li>
                     <li class="divider">|</li>
                     <li><a href="/eclients">Clients</a></li>
                     <li class="divider">|</li>
                     <li><a href="/gallery">Photos</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Video</a></li>
                     <li class="divider">|</li>
                     <li><a href="/news">News</a></li>
                     <li class="divider">|</li>
                     <li><a href="" >Newsletter</a></li>
                     <li class="divider">|</li>
                     <li><a href="/fcontact">Contact</a></li>
                    </ul>
            </div>
            <div class="float_right ">
              <div class="copy">
                Copyright © 2013  www.cotechplanet.net 
                <span>Powered by <a href="" target="_blank">CRESUS</a></span>
              </div>
            </div>
          
        </div>
    </div>
      
    </footer>

</body>
</html>
