<!DOCTYPE html> 
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sérvices</title>
</head>
<body > 
  <div class="top-bar">
    <div class="sous-top-bar">
      <div class="contact-info">
        <p><span class="red-text">Téléphone:</span> +216 71 501 080</p>
        <div class="lang">
          <button class="fr" routerLink="/acceuil" routerLinkActive="active" >FR</button>
          <button routerLink="/home" routerLinkActive="active" class="ag" href="/home">AN</button>
        </div>
      </div>
      <div class="social-links">
        <p><span class="red-text">Email:</span> cotech@planet.tn</p>
        <a href="https://twitter.com/cotech" target="_blank"><i class="bi bi-twitter"></i></a>      
        <a href="https://facebook.com/cotech" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://gmail.com/cotech" target="_blank"><i class="bi bi-envelope"></i> </a>
      </div>
    </div>
  </div>
    <div class="navbar">
        <div class="container-fluid">
          <div class="logo">
            <img src="assets/images/logo3.png">
          <div class="name"><h1>Cotech</h1></div>
        </div>
            <div class="links">
                <a class="nav-link" href="/acceuil">Acceuil</a>
                <a class="nav-link" href="/fpresentation">Présentation</a>
                <a class="nav-link active" href="/fservice">services</a>
                <a class="nav-link" href="/realisation">Realisation</a>
                <a class="nav-link" href="/fcertificats">Certificats</a>
                <a class="nav-link" href="/fcontact">Contact</a>
            </div>
        </div>
    </div>  
        <div class="page-content">
        <div class="tittle">
             <h1>Activités</h1>
             <select (change)="selectDepartment($event)">
                <option value="Automatismes">Départemenet Automatismes</option>
                <option value="Cablage">Départemenet Cablage Industriel</option>
                <option value="PersageDosage">Départemenet Persage & Dosage Industriel</option>
            </select>
        </div>
        <div *ngIf="selectedDepartment === 'Automatismes'" class="contenu"> 
            <div class="klem">
                <h4>Départemenet Automatismes</h4>
            <p>Grace à un personnel qualifié et un matériel moderne mis en service des technique les plus <br>
                élaborées,ce département s'est spécialisé dans la conception et l’installation des automatismes <br>
                industriels,et les systèmes de supervision des chaines de production.Son service étude est parfaitement <br>
                apte à déterminer la technologie à appliquer pour automatiser vos équipements.</p>
            
            </div>
            <div class="container">
            <h4>Activités </h4>
            <ul>
                <li>Recherche des solutions techniques adaptées</li>
                <li>Rénovation complète</li>
                <li>Etudes générales de l’installation : Analyse fonctionnelle et programmation</li>
                <li>Etude, conception et câblage des armoires électriques</li>
                <li>Fabrication des synoptiques</li>
                <li>Mise en service</li>
                <li>Etude, Développement, fourniture et mise en service des outils de supervision et de contrôle/commande</li>
                <li>Assistance technique</li>
                <li>Formation du personnel en automatisme</li>
                <li>Maintenance</li>
              </ul>
            </div>
              
          </div>
          <div *ngIf="selectedDepartment === 'Cablage'" class="contenu"> 
            
            <div class="klem">
              <h4>Départemenet Cablage Industriel</h4>
              <br>
              
              <p>Conception, câblage, montage d’armoires électriques <br>industrielles à l’unité ou 
                en série conformément à votre demande en termes de finition et de normes.</p>
            </div>
            <div class="container">
              <h4>Activités</h4>
              <ul>
                <li>Armoires de commande</li>
                <li>Armoires de régulation</li>
                <li>Armoires d’automatismes</li>
                <li>Armoires de distribution</li>
                <li>Pupitres de commande avec ou sans synoptique graphique</li>
                <li>Possibilité d’étude, de dimensionnement  et de conception de tout type de coffrets électriques</li>
                <li>Conception et fourniture de dossiers techniques conformément à la demande des clients</li>
              </ul>
              
            </div>
            
          </div>
          <div *ngIf="selectedDepartment === 'PersageDosage'" > 
            <div class="titledosage">
            <h4>Départemenet Persage & Dosage Industriel</h4>
            </div>
            <div class="contenu">
             <div class="klem">
              
              <p>Ce département met à votre disposition une gamme complète d’instrument  de pesage, et dosage électrique triés parmi les meilleures marques mondiales, à savoir : les balances de précision, les balances compteuses, les balances industrielles, les ponts bascules, les indicateurs de pesages, les bandes transporteuses peseuses, tout type de captures de poids.
              </p>
            </div>
            <div class="klem1">
              <p>
                Les principales activités de ce département sont l’étude de vos besoins en matière de pesage et dosage, la fourniture et l’installation de la solution la plus fiables à moindre coût. Grace à notre personnel hautement qualifié ainsi que notre service rapide et efficace, notre société, s’est crée une clientèle fidèle et nous vous invitons à en faire partie.
              </p>
            </div>
          </div>
          </div>
    </div>  


    <footer>
      <div class="footer clear tahoma">
        <div class="footer_wrap">
            <div class="float_left bottom_nav">
                    <ul class="navigation-list">
                     <li><a href="/acceuil">Acceuil</a></li>
                     <li class="divider">|</li>
                     <li><a href="fpresentation">Présentation</a></li>
                     <li class="divider">|</li>
                     <li><a href="/fservice">Services</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Réferences</a></li>
                     <li class="divider">|</li>
                     <li><a href="/factivite">Activités</a></li>
                     <li class="divider">|</li>
                     <li><a href=""> Catalog</a></li>                     
                     <li><a href="">Equipement</a></li>
                     <li class="divider">|</li>
                     <li><a href="/fcertificats" >Certificats</a></li>
                     <li class="divider">|</li>
                     <li><a href="/clients">Clients</a></li>
                     <li class="divider">|</li>
                     <li><a href="/fgallery">Photos</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Vidéo</a></li>
                     <li class="divider">|</li>
                     <li><a href="/fnews">Actualités</a></li>
                     <li class="divider">|</li>
                     <li><a href="" >Newsletter</a></li>
                     <li class="divider">|</li>
                     <li><a href="/fcontact">Contact</a></li>
                    </ul>
            </div>
            <div class="float_right ">
              <div class="copy">
                Copyright © 2013  www.cotechplanet.net 
                <span>Powered by <a href="" target="_blank">CRESUS</a></span>
              </div>
            </div>
          
        </div>
    </div>
      
    </footer>

</body>
</html>