<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realisation</title>
    
</head>
<body>
   
      <div class="navbar">   
        <header class="header-area header-sticky">
            <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <a href="index.html" class="logo2">
                        <img src="assets/images/logo4.png" alt="" >
                    </a>
                    <ul class="nav">
                      <li><a href="index.html" >Home</a></li>
                      <li><a href="shop.html">Presentation</a></li>
                      <li><a href="product-details.html">Our services</a></li>
                      <li><a href="contact.html" class="active">Achivements</a></li>
                      <li><a href="#">Contact Us</a></li>
                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
        </div>
        </header>
      </div> 


    <div class="pagecontent">
        <div class="section most-played">
            <div class="container">
              <div class="row">
                <div class="col-lg-6">
                  <div class="section-heading">
                    <h2>Achivements</h2>
                    <h6>Fields</h6>
                    
                  </div>
                </div>
                <div class="col-lg-6">

                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                  <div class="item">

                    <div class="down-content">
                        
                        <h4 class="bb" (click)="toggleshowbarre1()" (click)="setActiveButton1('button1')" [class.active]="activeButton1 === 'button1'">Water treatment</h4>
                        <a  (click)="toggleshowbarre1()" (click)="setActiveButton1('button1')" [class.active]="activeButton1 === 'button1'">Explore</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                  <div class="item">
  
                    <div class="down-content">
                        
                        <h4 class="bb"  (click)="toggleshowbarre2()" (click)="setActiveButton1('button2')" [class.active]="activeButton1 === 'button2'">Food Industry</h4>
                        <a    (click)="toggleshowbarre2()" (click)="setActiveButton1('button2')" [class.active]="activeButton1 === 'button2'">Explore</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                  <div class="item">
                    <div class="down-content">
                        
                        <h4 class="bb" (click)="toggleshowbarre3()" (click)="setActiveButton1('button3')" [class.active]="activeButton1 === 'button3'">Foundry</h4>
                        <a (click)="toggleshowbarre3()" (click)="setActiveButton1('button3')" [class.active]="activeButton1 === 'button3'">Explore</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                  <div class="item">
                    <div class="thumb">
        
                    </div>
                    <div class="down-content">
                        
                        <h4 class="bb" (click)="toggleshowbarre4()" (click)="setActiveButton1('button4')" [class.active]="activeButton1 === 'button4'">Various</h4>
                        <a (click)="toggleshowbarre4()" (click)="setActiveButton1('button4')" [class.active]="activeButton1 === 'button4'">Explore</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                  <div class="item">
                    <div class="thumb">
         
                    </div>
                    <div class="down-content">
                        
                        <h4 class="bb" (click)="toggleshowbarre5()" (click)="setActiveButton1('button5')" [class.active]="activeButton1 === 'button5'">Concrete</h4>
                        <a (click)="toggleshowbarre5()" (click)="setActiveButton1('button5')" [class.active]="activeButton1 === 'button5'">Explore</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                  <div class="item">
                    <div class="thumb">
               
                    </div>
                    <div class="down-content">
                        
                        <h4 class="bb" (click)="toggleshowbarre6()" (click)="setActiveButton1('button6')" [class.active]="activeButton1 === 'button6'">Chemistry</h4>
                        <a (click)="toggleshowbarre6()" (click)="setActiveButton1('button6')" [class.active]="activeButton1 === 'button6'">Explore</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="container2">
            <div class="tittle" *ngIf="showbarre1">
                
                <div class="test" >
                    <div><button class="b1" (click)="toggle1()" (click)="setActiveButton('button1')" [class.active]="activeButton === 'button1'">2 Meetings Spalding</button></div>
                    <div><button class="b1" (click)="toggle2()"(click)="setActiveButton('button2')" [class.active]="activeButton === 'button2'">Purification station airport Enfidha</button></div>
                    <div><button class="b1" (click)="toggle3()"(click)="setActiveButton('button3')" [class.active]="activeButton === 'button3'">Purification station Hotel Hasdrubal</button></div>
                    <div><button class="b1"(click)="toggle4()"(click)="setActiveButton('button4')" [class.active]="activeButton === 'button4'">Station MANANTALY</button></div>
                    <div><button class="b1" (click)="toggle5()"(click)="setActiveButton('button5')" [class.active]="activeButton === 'button5'">Purification station Hotel Laïco Brazaville</button></div>
                    <div><button class="b1" (click)="toggle6()"(click)="setActiveButton('button6')" [class.active]="activeButton === 'button6'">Purification station mineral water TREIGNAC France</button></div>
                    <div><button class="b1" (click)="toggle7()"(click)="setActiveButton('button7')" [class.active]="activeButton === 'button7'">Purification station Hospital KIBAGABAGA</button></div>
                    <div><button class="b1" (click)="toggle8()"(click)="setActiveButton('button8')" [class.active]="activeButton === 'button8'">Dosingstation Biocare Brazaville</button></div>
                </div>
                <div class="newp1" *ngIf="show1">
                    <div class="klem">
                        <h4>2 Meetings Spalding</h4>
                        <div class="division">
                            <div>
                        <p>Project : Rural water potabilization unit.</p>
                        <p>Location  : Spalding (Jamaica)</p>   
                        <p>Client : Hydranet (France). ... </p>
                        <p>Project manager: Gauff Ingenieure (Germany).
                        <p>Year of realisation : 2006.</p>
                        </div>
                        <div class="partieleft1">
                        <p> Services:</p>
                        <p>Study, design of the switchboard.</p>   
                        <p>Programming : PLC and operating panel.</p>   
                        <p>Start up on site.</p>   
                        </div>
                        </div>
                    </div>   
                                <div class="image-slider">
                                    
                                    <div class="main-images">
                                        
                                        <img src="assets/b1/img1.png">
                                        <img src="assets/b1/img2.png">
                                        <img src="assets/b1/img3.png">
                                        
                                    </div>
                            </div>

                </div>
                <div class="newp1" *ngIf="show2">
                    <div class="klem">
                        <h4>Purification station airport Enfidha</h4>
                        <div class="division">
                            <div>
                    <p>Project : Purification station for waste water (compact in container)</p>
                    <p>Location:Airport zone Enfidha (Tunisia)</p>   
                    <p>Capacity:70m3/h.</p>
                    <p>Client : Hydranet (France). </p>
                    <p>Project manager : Office National de l’Assainissement (Tunisia).</p>
                    <p>Year of realization : 2009.</p>
                            </div>
                        <div class="partieleft2">
                    <p>Services :</p>
                    <p>Study, design of the switchboard.</p>
                    <p>Programming : PLC and operationg panel.</p>
                    <p>start  up on site</p>
                            </div></div>
                    
                    
                    </div>


                    <div class="image-slider">
                        <button (click)="prevImage()" id="arrow"><i class="bi bi-arrow-left-square-fill"></i></button>
                        <div class="main-images">
                            <div *ngFor="let image of displayedImages1; let i = index" class="main-image">
                                <img [src]="image" alt="Main Image {{i}}">
                            </div>
                        </div>
                          <button (click)="nextImage()" id="arrow"><i class="bi bi-arrow-right-square-fill"></i></button>
                        
                    </div>

                    
                </div>
                <div class="newp1" *ngIf="show3">
                    <div class="klem">
                        <h4> Hotel Hasdrubal water treatment plant </h4>
                        <div class="division">
                        <div>
                        <p>Project : Sewage treatment plant.</p>
                        <p>Location : Hotel Hasdrubal Hammamet (Tunisia)</p>
                        <p>Capacity : 160m3/D.</p>
                        <p>Client : Hydritec (Tunisia).</p>
                        <p>Project manager : Hotel Hasdrubal Hammamet (Tunisia)</p>
                        
                        </div>
                        <div class="partieleft1">       
                            <p>Year of realization : 2009.</p>                
                        <p>Services:</p>
                        <p>Study, design and manufacture of the electrical cabinet.</p>
                        <p>PLC programming.</p>
                        <p>Wiring, installation and commissioning on site.</p>
                        </div>
                        </div>

                    </div>
                    
                </div>

                <div class="newp1" *ngIf="show4">
                    <div class="klem">
                        <h4>Station MANANTALY</h4>
                        <div class="division">
                            <div>
                                <p>Project : Potabilization unit of waste water.</p>
                        <p>Location : Dam Manantaly (Mali)</p>
                        <p>Capacity : 100m3/h.</p>
                        <p>Client : Hydranet (France).</p>
                        <p>Project manager : Hydranet (France).</p>
                        
                            </div>
                            <div class="partieleft1">
                                <p>Year of realization : 2010-2011.</p>
                        <p>Services :</p>
                        <p>Study, design of the switchboard.</p>
                        <p>Programming : PLC and operating panel.</p>
                        <p>Start up on site.</p></div></div>

                    </div>
                    <div class="image-slider">
                        <button (click)="prevImage()" id="arrow"><i class="bi bi-arrow-left-square-fill"></i></button>
                        <div class="main-images">
                            <div *ngFor="let image of displayedImages2; let i = index" class="main-image">
                                <img [src]="image" alt="Main Image {{i}}">
                            </div>
                        </div>
                          <button (click)="nextImage()" id="arrow"><i class="bi bi-arrow-right-square-fill"></i></button>
                        
                    </div>
                </div>
                <div class="newp1" *ngIf="show5">
                    <div class="klem">
                    <h4>Hotel Laïco Brazaville wastewater treatment plant  </h4>
                    <div class="division">
                        <div>
                    <p>Project : Sewage treatment plant.</p>
                    <p>Location : Hotel Laïco Brazaville (Congo)</p>
                    <p>Capacity : 120m3/J.</p>
                    <p>Client : Hydranet (France)</p>
                    <p>Project manager : Hotel Laïco Brazaville (Congo).</p>
                    
                        </div>
                    <div class="partieleft1">
                    <p>Year of realization : 2011.</p>
                    <p>Services :</p>
                    <p>Study, design and manufacture of the electrical cabinet.</p>
                    <p>PLC programming.</p>
                    <p>Wiring, installation and commissioning on site.</p>
                    </div>
                    </div>

                    
                    </div>
                </div>
                <div class="newp1" *ngIf="show6">
                    <div class="klem">
                        <h4>Mineral water filtration station (TREIGNAC)</h4>
                        <div class="division">
                                <div>
                                
                                <p>Project : Mineral water filtration station.</p>
                                <p>Location : TREIGNAC (France)</p>
                                <p>Capacity : 12m3/h.</p>
                                <p>Client : eKope (France)</p>
                                <p>Project manager : Eau de Treignac (France)</p>
                                </div>
                                <div class="partieleft1">
                                    <p>Year of realization : 2011.</p>
                                <p>Services :</p>
                                <p>Study, design and manufacture of the electrical cabinet.</p>
                                <p>PLC and operator panel programming.</p>
                                <p>Wiring, installation and commissioning on site.</p>
                        </div>
                </div>

                    </div>
                    <div class="image-slider">
                        <button (click)="prevImage()" id="arrow"><i class="bi bi-arrow-left-square-fill"></i></button>
                        <div class="main-images">
                            <div *ngFor="let image of displayedImages3; let i = index" class="main-image">
                                <img [src]="image" alt="Main Image {{i}}">
                            </div>
                        </div>
                          <button (click)="nextImage()" id="arrow"><i class="bi bi-arrow-right-square-fill"></i></button>
                        
                    </div>
                </div>
                <div class="newp1" *ngIf="show7">
                    <div class="klem">
                        <h4>
                            Water Treatment Plant KIBAGABAGA Hospital </h4>
                        <div class="division">
                            <div>
                                <p>Project : Sewage treatment plant.</p>
                                <p>Location : KIBAGABAGA Hospital (Rwanda)</p>
                                <p>Capacity : 120m3/J.</p>
                                <p>Client : Hydranet (France)</p>
                                <p>Project manager :  KIBAGABAGA Hospital (Rwanda)</p>
                            </div>
                            <div class="partieleft1">
                                <p>Year of realization : 2011.</p>
                                <p>Services :</p>
                                <p>Study, design and manufacture of the electrical cabinet.</p>
                                <p>PLC and operator panel programming.</p>
                            </div>
                        </div>
                    
                   
                    
                    </div>
                               
                                <div class="image-slider">
                                    
                                    <div class="main-images">
                                        <div class="fourimages">
                                <img src="assets/KIBAGABAGA/1.jpg">
                                <img src="assets/KIBAGABAGA/2.jpg">
                                <img src="assets/KIBAGABAGA/3.jpg">²²
                                <img src="assets/KIBAGABAGA/5.jpg">
                                        </div>
                                        
                                    </div>
                                      
                                    
                            </div>
                </div>
                <div class="newp1" *ngIf="show8">
                    <div class="klem">
                    <h4>Biocare Brazaville Dosing Station </h4>
                    <div class="division">
                        <div>
                    <p>Project :  Dosing station for infusion solution for human use.</p>
                    <p>Location : Brazaville (Congo)</p>
                    <p>Capacity : 20m3/J.</p>
                    <p>Client : eKope (France)</p>
                    <p>Project manager : Biocare (Congo)</p>
                    <p>Year of realization : 2012.</p>
                    </div>
                    <div class="partieleft">
                    <p>Services :</p>
                    <p>Study, design and manufacture of the electrical cabinet.</p>
                    <p>PLC and operator panel programming..</p>
                    <p>Synchronization of the operation between the EPPI unit, our dosing system and the filler.</p>
                    <p>Management of CIP cycles (Cleaning) dosing unit and filler.</p>
                    <p>Wiring, installation and commissioning on site</p></div></div>
                    </div>
                    <div class="image-slider">
                                    
                        <div class="main-images">
                            <div class="fourimages">
                                <img src="assets/Brazaville/1.jpg">
                                <img src="assets/Brazaville/2.jpg">
                                <img src="assets/Brazaville/4.jpg">
                                <img src="assets/Brazaville/5.jpg">
                            </div>
                            
                        </div>
                          
                        
                </div>
                   
                </div>
            </div>
            
                <div class="newtittle" *ngIf="showbarre2">
                    
                    <div class="newp1" *ngIf="showsecond">
                            <div class="klem">
                                <h4>Cold storage : ENNASSIM (Libya) </h4>
                                <p>Location : Dairy products plant</p>
                                <p>Description : Control and supervision cabinet for cold storage</p>
                                <p>Used PLC : 2 x S7 200 networked.</p>
                                <p>Supervisor : WinCC Flexible Runtime + KTP1000.</p>
                            </div> 
                            <div class="image-slider">
                                    <button (click)="prevImage()" id="arrow"><i class="bi bi-arrow-left-square-fill"></i></button>
                                    <div class="main-images">
                                        <div *ngFor="let image of displayedImages; let i = index" class="main-image">
                                            <img [src]="image" alt="Main Image {{i}}">
                                        </div>
                                    </div>
                                      <button (click)="nextImage()" id="arrow"><i class="bi bi-arrow-right-square-fill"></i></button>
                                    
                            </div>
                                                                     
                    </div>      
                    
                          
                </div>
            
            <div class="tittle" *ngIf="showbarre3">
                <div class="newp1" *ngIf="showthird">
                    <div class="klem">
                        <h4> Sopal injection molding cabinet (Tunisia) </h4>
                        <p>Location : Sfax</p>
                        <p>Description : Control and supervision cabinet for a brass injection press.</p>
                        <p>Used PLC : S7 200.</p>
                        <p>Supervisor : Runtime WinCC Flex.</p>

                    </div>
                            <div class="image-slider">
                                    
                                    <div class="main-images">
                                        
                                            <img src="assets/Sopal/1.jpg">
                                            <img src="assets/Sopal/2.jpg">
                                            <img src="assets/Sopal/3.jpg">
                                        
                                    </div>
                                      
                                    
                            </div>

                </div>
            </div>
            <div class="tittle" *ngIf="showbarre4">
                
                <div class="test2">
                    <div><button id="b3" class="b2" (click)="togglefour1()" (click)="setActiveButton2('button1')" [class.active]="activeButton2 === 'button1'">Grinding unit STICC (Tunisia)</button></div>
                    <div><button id="b3" class="b2" (click)="togglefour2()" (click)="setActiveButton2('button2')" [class.active]="activeButton2 === 'button2'">Eurocast treatment furnace (U.S.A.)</button></div>
                </div>
                <div class="newp1" *ngIf="showfour1">
                <div class="klem">
                    <h4>Grinding unit STICC (Tunisia)  </h4>
                    <p>Location :CaCO3 grinding plant (Fériana)</p>
                    <p>Description :  Control and monitoring cabinet for a calcium carbonate grinding unit</p>
                    <p>Used PLC : S7 300.</p>
                    <p>Supervisor : Touch Panel MP377.</p>
                </div>
                <div class="image-slider">
                                    
                    <div class="main-images">
                        <img src="assets/broyage/1.jpg">
                        <img src="assets/broyage/2.jpg">
                    </div> 
            </div>

                
                </div>
                <div class="newp1" *ngIf="showfour2">
                <div class="klem">
                    <h4>Eurocast treatment furnace (U.S.A.) </h4>
                    <p>Location : Foundry for aircraft engine parts (Tunisia)</p>
                    <p>Description : Control and supervision cabinet for heat treatment furnace</p>
                    <p>Used PLC : S7 200.</p>
                    <p>Supervisor : WinCC Flexible Runtime.</p>
                </div>

                            <div class="image-slider">
                                    
                                <div class="main-images">
                                    <img src="assets/Eurocast/2.jpg">
                                    <img src="assets/Eurocast/3.jpg">
                                </div> 
                        </div>
                </div>
            </div>
            <div class="tittle" *ngIf="showbarre5">
                <div class="test2">
                    
                </div>
                <div class="newp1" *ngIf="showfive">
                <div class="klem">
                    <div class="division">
                        <div>
                    <h4> Control system for concrete batching plant</h4>
                    <p>Project : Control system for concrete batching plant.</p>
                    <p>Location : Jebel Oust (Tunisia)</p>
                    <p>Client : SOROUBAT</p>
                    <p>Mixer capacity : 3m3 of cement.</p>
                    <p>Year of réalization : 2013</p>
                        </div>
                        <div class="partieleft">
                            <br><br><br>
                    <p>Services : Study, design and supply of the weighing system on weight sensors,</p>
                    <p>of the additive dosing system and of the electrical cabinet based on SIEMENS S7 PLC</p>  
                    <p>as well as a supervision system on PC under WinCC Flexible.</p>
                        </div>
                    </div>
                </div>
                            <div class="image-slider">
                                <button (click)="prevImage()" id="arrow"><i class="bi bi-arrow-left-square-fill"></i></button>
                                <div class="main-images">
                                    <div *ngFor="let image of displayedImages; let i = index" class="main-image">
                                        <img [src]="image" alt="Main Image {{i}}">
                                    </div>
                                </div>
                                  <button (click)="nextImage()" id="arrow"><i class="bi bi-arrow-right-square-fill"></i></button>
                                
                        </div>
                </div>
            </div>
            <div class="tittle" *ngIf="showbarre6">
                <div class="test2">
                  
                </div>
                <div class="newp1" *ngIf="shows">
                <div class="klem">
                    <div class="division">
                        <div>
                    <h4>Manufacturing unit for liquid detergents </h4>
                    <p>Project : Manufacturing unit for liquid detergents.</p>
                    <p>Lcation : Sfax (Tunisia)</p>
                    <p>Client : SODET</p>
                    <p>Reaktor capacity : 3m3</p>
                    <p>Year of realization : 2010</p>
                    </div><div>
                        <br>
                        <br>
                        <p>Services : Study, design and supply of a complete liquid detergent manufacturing unit,<br><br>including preparation reactor, storage tanks, pumps and hydraulic circuit,<br><br>electrical control panel based on SIEMENS S7 PLC and SIWAREX module,
                         <br><br>
                         as well as a supervision system on PC under WinCC Flexible.</p>
                    </div>
                    </div>
                    

                </div>          
                            <div class="image-slider">
                                    
                                <div class="main-images">
                                    <div class="fourimages">
                                    <img src="assets/chimie/2.jpg">
                                    <img src="assets/chimie/3.jpg">
                                    <img src="assets/chimie/4.jpg">
                                    <img src="assets/chimie/5.jpg">
                                    </div>
                                </div> 
                        </div>
                
                </div>
            </div>
            </div> 
    </div>

    <footer>
        <div class="container">
          <div class="col-lg-12">
            <p>Copyright © 2048 LUGX Gaming Company. All rights reserved. &nbsp;&nbsp; <a rel="nofollow" href="https://templatemo.com" target="_blank">Design: TemplateMo</a></p>
          </div>
        </div>
      </footer>

</body>

  </html>
