<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <div class="icons">
        <a href="https://twitter.com/cotech" target="_blank"><i id="twitter"class="bi bi-twitter"></i></a>      
        <a href="https://facebook.com/cotech" target="_blank"><i id="facebook"class="bi bi-facebook"></i></a>
        <a href="https://gmail.com/cotech" target="_blank"><i id="gmail"class="bi bi-google"></i> </a>
        </div>
</head>
<body > 
  <div class="top-bar">
    <div class="sous-top-bar">
      <div class="contact-info">
        <p><span class="red-text">Phone:</span> +216 71 501 080</p>
        
      </div>
      <div class="social-links">
        <p><span class="red-text">Email:</span> cotech@planet.tn</p>
        <a href="https://twitter.com/cotech" target="_blank"><i class="bi bi-twitter"></i></a>      
        <a href="https://facebook.com/cotech" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://gmail.com/cotech" target="_blank"><i class="bi bi-envelope"></i> </a>
      </div>
    </div>
  </div>
    <div class="navbar">    
        <div class="container-fluid">
            <div class="name"><h1>Cotech</h1></div>
            <div class="links">
                <a class="nav-link" href="/home">Home</a>
                <a id="presentation"class="nav-link active" href="/presentation">Presentation</a>
                <a class="nav-link" href="/services">services</a>
                <a class="nav-link" href="/realisation">Realisation</a>
                <a class="nav-link" href="#">Certificates</a>
                <a class="nav-link" href="/contact">Contact</a>
            </div>
        </div>
    </div>  

  
    <div class="clear banner">
      
        <div class="overlay-content">
          <p>
            <span class="cotech">C</span>otech is a Tunisian/Belgian company specialized in the study, development and realization of industrial automation projects;
            also we fulfill regulation systems for production chains on PLC basis. We offer practical consultancy based on 30 years of experience
            in automation of industrial production processes.
          </p>
        </div>
      
    </div>
  
  <div class="about">
  <p><strong>About us</strong></p>
    <hr class="trait">
    </div>
  <div class="icon-section">
    
    <div class="icon-container1"  (click)="toggleshowbarre1()">
      <img src="assets/images/assistance.png" alt="efficient" class="icon">
      <div >
      <p class="icon-text">Advanced Automation</p>
      <p class="icon-description">We can give you assistance with weighing, dosing and automation so that you can maintain your competitive position</p>
      </div>
      <div *ngIf="showbutton"><h6>Learn More</h6></div>
      <div *ngIf="showbarre1">
      <p class="icon-description">Cotech and her specialized partners (weighing and automation) offer solutions of top technology and high precision.</p>  
       
      </div>
    </div>
    
    <div class="icon-container2" (click)="toggleshowbarre2()">
      <img src="assets/images/adv-auto.png" alt="efficient" class="icon">
      <div >
      <p class="icon-text">Advanced Automation</p>
      <p class="icon-description">We use the data 'weight' (basic information) to control your material stream and process.</p>
      </div>
      <div *ngIf="showbutton2"><h6>Learn More</h6></div>
      
      <div *ngIf="showbarre2">
      <p class="icon-description"> Automation can give you faster, safer production processes which are more efficient, flexible, reliable, sustainable and cost-effective. Working with Cotech also means you can be sure of the project content, cost, delivery dates and end result.</p>  
       
      
      </div>
    </div>
    
    <div class="icon-container3" (click)="toggleshowbarre3()">
      <img src="assets/images/global-impact.png" alt="efficient" class="icon">
      <div >
      <p class="icon-text">Global impact</p>
      <p class="icon-description">The realizations of Cotech are adopted in Africa, Europe, America and the Middle East.</p>
      </div>
      <div *ngIf="showbutton3"><h6>Learn More</h6></div>
      <div *ngIf="showbarre3">
      <p class="icon-description"> We offer new solutions as well as renewal of existing installations.</p>  
       
     
      </div>
    </div>
    
  </div>
  <br>
  <br>
  <br>
  <p class="middle"><strong>Company Overview</strong></p>
  <hr class="trait">
  <div class="info-container">
    <div class="info-text">
      <ul >
        <li><strong>Name: </strong> COTECH</li>
        <li><strong>Legal status:</strong> S.A.R.L</li>
        <li><strong>Date of foundation:</strong> August 1995</li>
        <li><strong> Head office:</strong> 1 Rue 61675 Cité El Hadika 2, 2042 Tunis TUNISIA</li>
        <li><strong>Number of employees:</strong> 10 Persons</li>
        <li><strong>Capital:</strong> 100,000 DT</li>
        <li><strong>Export turnover:</strong> 30%</li>
      </ul>
    </div>
    <div class="info-image">
      <img src="assets/images/chart.jpg" alt="Global Image" class="global-image">
    </div>
  </div>
  
  <footer> 
    <div class="footer clear tahoma">
        <div class="footer_wrap">
            <div class="float_left bottom_nav">
                    <ul class="navigation-list">
                     <li><a href="/home">Home</a></li>
                     <li class="divider">|</li>
                     <li><a href="/presentation">Presentation</a></li>
                     <li class="divider">|</li>
                     <li><a href="/services">Services</a></li>
                     <li class="divider">|</li>
                     <li><a href="">References</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Activities</a></li>
                     <li class="divider">|</li>
                     <li><a href=""> Catalog</a></li>                     
                     <li><a href="">Equipement</a></li>
                     <li class="divider">|</li>
                     <li><a href="" >Certificats</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Clients</a></li>
                     <li class="divider">|</li>
                     <li><a href="/gallery">Photos</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Video</a></li>
                     <li class="divider">|</li>
                     <li><a href="/news">News</a></li>
                     <li class="divider">|</li>
                     <li><a href="" >Newsletter</a></li>
                     <li><a href="/contactus">Contact</a></li>
                    </ul>
            </div>
            <div class="float_right ">
              <div class="copy">
                Copyright © 2013  www.cotechplanet.net 
                <span>Powered by <a href="" target="_blank">CRESUS</a></span>
              </div>
            </div>
          
        </div>
    </div>
  </footer>
</body>
</html> 