<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  <header>
    <nav class="navbar">
        <div class="container-fluid">
          <img src="assets/images/logo.png">
          <div class="col2">
            <div class="links">
              <a class="nav-link active" href="/home">Home</a>
              <a class="nav-link" href="#">Presentation</a>
              <a class="nav-link" href="/services">services</a>
              <a class="nav-link" href="#">References</a>
              <a class="nav-link" href="#">Certificates</a>
              <a class="nav-link" href="#">Contact</a> 
            </div>
          </div>
        </div>
    </nav>
</header>
<div class="presentation-container">
    <h2 class="section-title">Presentation</h2>
    <ul>
    <li><p class="presentation-text">
      Cotech is a Tunisian/Belgian company specialized in the study, development and realization of industrial automation projects; also we fulfill regulation systems for production chains on PLC basis.
      We offer practical consultancy based on 30 years of experience in automation of industrial production processes.
    </p></li>
    <li><p class="presentation-text">
      We can give you assistance with weighing, dosing and automation so that you can maintain your competitive position.
      Cotech and her specialized partners (weighing and automation) offer solutions of top technology and high precision.
    </p></li>
    <li><p class="presentation-text">
      We use the data "weight" (basic information) to control your material stream and process.
      Automation can give you faster, safer production processes which are more efficient, flexible, reliable, sustainable and cost-effective.
      Working with Cotech also means you can be sure of the project content, cost, delivery dates and end result.
    </p></li>
    <li><p class="presentation-text">
      The realizations of Cotech are adopted in Africa, Europe, America and the Middle East.
      We offer new solutions as well as renewal of existing installations.
    </p></li>
    </ul>
</div>
  <div class="info_container">
    <div class="info_column">
      <p><strong>Name:</strong> COTECH</p>
      <p><strong>Legal status:</strong> S.A.R.L</p>
      <p><strong>Date of foundation:</strong> August 1995</p>
      <p><strong>Head office:</strong> 1 Rue 61675 Cité El Hadika 2, 2042 Tunis TUNISIA</p>
    </div>
    <div class="info_column">
      <p><strong>Number of employees:</strong> 10 Persons</p>
      <p><strong>Capital:</strong> 100,000 DT</p>
      <p><strong>Export turnover:</strong> 30%</p>
    </div>
  </div>
  <div class="chart">
  <h6>Organisation chart</h6>
  <img src="assets/images/chart.jpg">
  </div>    
  <footer> 
    <div class="footer clear tahoma">
        <div class="footer_wrap">
            <div class="float_left bottom_nav">
                    <ul class="navigation-list">
                     <li><a href="/home">Home</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Presentation</a></li>
                     <li class="divider">|</li>
                     <li><a href="/services">Services</a></li>
                     <li class="divider">|</li>
                     <li><a href="">References</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Activities</a></li>
                     <li class="divider">|</li>
                     <li><a href=""> Catalog</a></li>                     
                     <li><a href="">Equipement</a></li>
                     <li class="divider">|</li>
                     <li><a href="" >Certificats</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Clients</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Photos</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Video</a></li>
                     <li class="divider">|</li>
                     <li><a href="">News</a></li>
                     <li class="divider">|</li>
                     <li><a href="" >Newsletter</a></li>
                     <li><a href="">Contact</a></li>
                    </ul>
            </div>
            <div class="float_right ">
              <div class="copy">
                Copyright © 2013  www.cotechplanet.net 
                <span>Powered by <a href="" target="_blank">CRESUS</a></span>
              </div>
            </div>
          
        </div>
    </div>
  </footer>
</body>
</html> 

