<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <div class="icons">
        <a href="https://twitter.com/cotech" target="_blank"><i id="twitter"class="bi bi-twitter"></i></a>      
        <a href="https://facebook.com/cotech" target="_blank"><i id="facebook"class="bi bi-facebook"></i></a>
        <a href="https://gmail.com/cotech" target="_blank"><i id="gmail"class="bi bi-google"></i> </a>
        </div>
</head>
<body > 
  <div class="top-bar">
    <div class="sous-top-bar">
      <div class="contact-info">
        <p><span class="red-text">Phone:</span> +216 71 501 080</p>
        <div class="lang">
          <button class="fr" routerLink="/acceuil" routerLinkActive="active" >FR</button>
          <button routerLink="/home" routerLinkActive="active" class="ag" href="/home">AN</button>
        </div>
      </div>
      <div class="social-links">
        <p><span class="red-text">Email:</span> cotech@planet.tn</p>
        <a href="https://twitter.com/cotech" target="_blank"><i class="bi bi-twitter"></i></a>      
        <a href="https://facebook.com/cotech" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://gmail.com/cotech" target="_blank"><i class="bi bi-envelope"></i> </a>
      </div>
    </div>
  </div>
    <div class="navbar">    
        <div class="container-fluid">
            <div class="name"><h1>Cotech</h1></div>
            <div class="links">
                <a class="nav-link" href="/home">Home</a>
                <a id="presentation"class="nav-link active" href="/presentation">Presentation</a>
                <a class="nav-link" href="/services">services</a>
                <a class="nav-link" href="/erealisation">Realisation</a>
                <a class="nav-link" href="/certificates">Certificates</a>
                <a class="nav-link" href="/contactus">Contact</a>
            </div>
        </div>
    </div>  

  
    <div class="clear banner">
      
        <div class="overlay-content">
          <h1>
            Our clients
          </h1>
        </div>
      
    </div>
    <div class="client-container">
        <div class="category">
           <h2>Environnement</h2>
           <div class="client-list">
              <div class="client-card">
                 <img src="assets/environement/ekope.png" alt="Client 1">
                 <h3>Ekope</h3>
                 
              </div>
              <div class="client-card">
                <img src="assets/environement/hydranet.png" alt="Client 2">
                <h3>Hydranet</h3>
             </div>
             <div class="client-card">
                <img src="assets/environement/hydritec.png" alt="Client 3">
                <h3>Hydritec</h3>
             </div>
           </div>
        </div>
        <div class="horizontal-line"></div>
        <div class="category">
            <h2>Chemistry</h2>
            <div class="client-list">
               <div class="client-card">
                  <img src="assets/chimiie/henkel.png" alt="Client 1">
                  <h3>Henkel</h3>
                  
               </div>
               <div class="client-card">
                 <img src="assets/chimiie/phoenix.png" alt="Client 2">
                 <h3>Phoenix</h3>
              </div>
              <div class="client-card">
                 <img src="assets/chimiie/sodet.png" alt="Client 3">
                 <h3>Sodet</h3>
              </div>
            </div>
         </div>
         <div class="horizontal-line"></div>
         <div class="category">
            <h2>Foundry</h2>
            <div class="client-list">
               <div class="client-card">
                  <img src="assets/fonderie/siam.png" alt="Client 1">
                  <h3>Siam</h3>
                  
               </div>
               <div class="client-card">
                 <img src="assets/fonderie/ftf.png" alt="Client 2">
                 <h3>FTF</h3>
              </div>
              <div class="client-card">
                 <img src="assets/fonderie/sopal.png" alt="Client 3">
                 <h3>Sopal</h3>
              </div>
            </div>
         </div>
         <div class="horizontal-line"></div>
         <div class="category">
            <h2>Plastic</h2>
            <div class="client-list">
               <div class="client-card">
                  <img src="assets/plastique/boraplast.png" alt="Client 1">
                  <h3>Boraplast</h3>
                  
               </div>
               <div class="client-card">
                 <img src="assets/plastique/inoplast.png" alt="Client 2">
                 <h3>Inoplast</h3>
              </div>
              <div class="client-card">
                 <img src="assets/plastique/proinject.png" alt="Client 3">
                 <h3>Proinject</h3>
              </div>
            </div>
         </div>
         <div class="horizontal-line"></div>
         <div class="category">
            <h2>Food industry</h2>
            <div class="client-list">
               <div class="client-card">
                  <img src="assets/agro/comocap.png" alt="Client 1">
                  <h3>Comocap</h3>
                  
               </div>
               <div class="client-card">
                 <img src="assets/agro/jouda.png" alt="Client 2">
                 <h3>Jouda</h3>
              </div>
              <div class="client-card">
                 <img src="assets/agro/slama-frere.png" alt="Client 3">
                 <h3>Etablissement Slama fréres</h3>
              </div>
            </div>
         </div>
         <div class="horizontal-line"></div>
         <div class="category">
            <h2>concrete</h2>
            <div class="client-list">
               <div class="client-card">
                  <img src="assets/beton/bonna.png" alt="Client 1">
                  <h3>Bonna béton</h3>
                  
               </div>
               <div class="client-card">
                 <img src="assets/beton/Mawassir.png" alt="Client 2">
                 <h3>El Mawassir</h3>
              </div>
            </div>
            <div class="horizontal-line"></div>
            <div class="category">
                <h2>Automobile</h2>
                <div class="client-list">
                   <div class="client-card">
                      <img src="assets/images/valeo.png" alt="Client 1">
                      <h3>Valeo</h3>
                   </div>
                   
                </div>
             </div>
         </div>
        
     </div>
     <footer> 
      <div class="footer clear tahoma">
          <div class="footer_wrap">
              <div class="float_left bottom_nav">
                      <ul class="navigation-list">
                       <li><a href="/acceuil">Acceuil</a></li>
                       <li class="divider">|</li>
                       <li><a href="/fpresebtation">Présentation</a></li>
                       <li class="divider">|</li>
                       <li><a href="/fservices">Sérvices</a></li>
                       <li class="divider">|</li>
                       <li><a href="">Réferences</a></li>
                       <li class="divider">|</li>
                       <li><a href="">Activités</a></li>
                       <li class="divider">|</li>
                       <li><a href=""> Catalogue</a></li>                     
                       <li><a href="">Equipement</a></li>
                       <li class="divider">|</li>
                       <li><a href="" >Cértificats</a></li>
                       <li class="divider">|</li>
                       <li><a href="">Clients</a></li>
                       <li class="divider">|</li>
                       <li><a href="/gallery">Photos</a></li>
                       <li class="divider">|</li>
                       <li><a href="">Video</a></li>
                       <li class="divider">|</li>
                       <li><a href="/fnews">Actualités</a></li>
                       <li class="divider">|</li>
                       <li><a href="" >Newsletter</a></li>
                       <li class="divider">|</li>
                       <li><a href="/fcontact">Contact</a></li>
                      </ul>
              </div>
              <div class="float_right ">
                <div class="copy">
                  Copyright © 2013  www.cotechplanet.net 
                  <span>Powered by <a href="" target="_blank">CRESUS</a></span>
                </div>
              </div>
            
          </div>
      </div>
    </footer>
  
    </body>
  </html>
     

