<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réalisation</title>
    
</head>
<body>
    <div class="top-bar">
        <div class="sous-top-bar">
          <div class="contact-info">
            <p><span class="red-text">Téléphone:</span> +216 71 501 080</p>
            <div class="lang">
                <button class="fr" routerLink="/acceuil" routerLinkActive="active" >FR</button>
                <button routerLink="/home" routerLinkActive="active" class="ag" href="/home">AN</button>
              </div>
          </div>
          <div class="social-links">
            <p><span class="red-text">Email:</span> cotech@planet.tn</p>
            <a href="https://twitter.com/cotech" target="_blank"><i class="bi bi-twitter"></i></a>      
            <a href="https://facebook.com/cotech" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://gmail.com/cotech" target="_blank"><i class="bi bi-envelope"></i> </a>
          </div>
        </div>
      </div>
      <div class="navbar">   
             
          <div class="container-fluid">
            <div class="logo">
                <img src="assets/images/logo3.png">
              <div class="name"><h1>Cotech</h1></div>
            </div>
              <div class="links">
                  <a class="nav-link" href="/acceuil">Acceuil</a>
                  <a class="nav-link" href="/fpresentation">Présentation</a>
                  <a class="nav-link" href="/fservice">services</a>
                  <a id="realisation" class="nav-link active" href="/realisation">Réalisation</a>
                  <a class="nav-link" href="/fcertificats">Certificats</a>
                  <a class="nav-link " href="/fcontact">Contact</a>
              </div>
          </div>
      </div> 


    <div class="pagecontent">
        <div class="realisation">
            <h1>Nos Réalisations</h1>
        </div>
        <div class="left">

            <div class="container">
                <div><button class="b"  (click)="toggleshowbarre1()" (click)="setActiveButton1('button1')" [class.active]="activeButton1 === 'button1'">Traitement des eaux</button></div>
                <div><button class="b"  (click)="toggleshowbarre2()" (click)="setActiveButton1('button2')" [class.active]="activeButton1 === 'button2'">Agro Alimentaire</button></div>
                <div><button class="b"  (click)="toggleshowbarre3()" (click)="setActiveButton1('button3')" [class.active]="activeButton1 === 'button3'">Fonderie</button></div>
                <div><button class="b"  (click)="toggleshowbarre4()" (click)="setActiveButton1('button4')" [class.active]="activeButton1 === 'button4'">Divers</button></div>
                <div><button class="b"  (click)="toggleshowbarre5()" (click)="setActiveButton1('button5')" [class.active]="activeButton1 === 'button5'">Béton</button></div>
                <div><button class="b"  (click)="toggleshowbarre6()" (click)="setActiveButton1('button6')" [class.active]="activeButton1 === 'button6'">Chimie</button></div>
                <div><button class="b"  >Méthanation</button></div>
            </div>
        </div>
        <div class="container2">
            <div class="tittle" *ngIf="showbarre1">
                <h4>Traitement des eaux</h4>
                <div class="test" >
                    <div><button class="b1" (click)="toggle1()" (click)="setActiveButton('button1')" [class.active]="activeButton === 'button1'">2 Meetings Spalding</button></div>
                    <div><button class="b1" (click)="toggle2()"(click)="setActiveButton('button2')" [class.active]="activeButton === 'button2'">Station Epuration aéroport Enfidha</button></div>
                    <div><button class="b1" (click)="toggle3()"(click)="setActiveButton('button3')" [class.active]="activeButton === 'button3'">Station Epuration Hôtel Hasdrubal</button></div>
                    <div><button class="b1"(click)="toggle4()"(click)="setActiveButton('button4')" [class.active]="activeButton === 'button4'">Station MANANTALY</button></div>
                    <div><button class="b1" (click)="toggle5()"(click)="setActiveButton('button5')" [class.active]="activeButton === 'button5'">Station Epuration Hôtel Laïco Brazaville</button></div>
                    <div><button class="b1" (click)="toggle6()"(click)="setActiveButton('button6')" [class.active]="activeButton === 'button6'">Station Filtration eau minérale TREIGNAC</button></div>
                    <div><button class="b1" (click)="toggle7()"(click)="setActiveButton('button7')" [class.active]="activeButton === 'button7'">Station Epuration Hôpital KIBAGABAGA</button></div>
                    <div><button class="b1" (click)="toggle8()"(click)="setActiveButton('button8')" [class.active]="activeButton === 'button8'">Station de dosage Biocare Brazaville</button></div>
                </div>
                <div class="newp1" *ngIf="show1">
                    <div class="klem">
                        <h4>2 Meetings Spalding</h4>
                        <div class="division">
                            <div>
                        <p>Projet : Unité de potabilisation d'eau rurale.</p>
                        <p>Lieu : Spalding (Jamaïque).</p>   
                        <p>Client : Hydranet (France). ... </p>
                        <p>Maître d'oeuvre : Gauff Ingenieure (Allemagne).
                        <p>Année de réalisation : 2006.</p>
                        </div>
                        <div class="partieleft1">
                        <p> Prestation fournies :</p>
                        <p>Etude, conception et fabrication du coffret électrique.</p>   
                        <p>Programmation automate et pupitre opérateur.</p>   
                        <p>Câblage, installation et mise en service sur site.</p>   
                        </div>
                        </div>
                    </div>   
                                <div class="image-slider">
                                    
                                    <div class="main-images">
                                        
                                        <img src="assets/b1/img1.png">
                                        <img src="assets/b1/img2.png">
                                        <img src="assets/b1/img3.png">
                                        
                                    </div>
                            </div>

                </div>
                <div class="newp1" *ngIf="show2">
                    <div class="klem">
                        <h4>Station Epuration aéroport Enfidha</h4>
                        <div class="division">
                            <div>
                    <p>Projet : Station d’épuration des eaux usées compacte en conteneur.</p>
                    <p>Lieu : Zone aéroportuaire Enfidha (Tunisie)</p>   
                    <p>Client : Hydranet (France). ... </p>
                    <p>Maître d’œuvre : Office National de l’Assainissement (Tunisie).</p>
                    <p>Année de réalisation : 2009.</p>
                            </div>
                        <div class="partieleft2">
                    <p>Prestations fournies :</p>
                    <p>Etude, conception et fabrication du coffret électrique.</p>
                    <p>Programmation automate et pupitre opérateur.</p>
                    <p>Câblage, installation et mise en service sur site.</p>
                            </div></div>
                    
                    
                    </div>


                    <div class="image-slider">
                        <button (click)="prevImage()" id="arrow"><i class="bi bi-arrow-left-square-fill"></i></button>
                        <div class="main-images">
                            <div *ngFor="let image of displayedImages1; let i = index" class="main-image">
                                <img [src]="image" alt="Main Image {{i}}">
                            </div>
                        </div>
                          <button (click)="nextImage()" id="arrow"><i class="bi bi-arrow-right-square-fill"></i></button>
                        
                    </div>

                    
                </div>
                <div class="newp1" *ngIf="show3">
                    <div class="klem">
                        <h4> Station Epuration Hôtel Hasdrubal </h4>
                        <div class="division">
                        <div>
                        <p>Projet : Station d’épuration des eaux usées.</p>
                        <p>Lieu : Hôtel Hasdrubal Hammamet (Tunisie)</p>
                        <p>Capacité : 160m3/J.</p>
                        <p>Client : Hydritec (Tunisie). </p>
                        <p>Maitre d’œuvre : Hôtel Hasdrubal Hammamet (Tunisie)</p>
                        
                        </div>
                        <div class="partieleft1">       
                            <p>Année de réalisation : 2009.</p>                
                        <p>Prestations fournies :</p>
                        <p>Etude, conception et fabrication du coffret électrique.</p>
                        <p>Programmation automate.</p>
                        <p>Câblage, installation et mise en service sur site.</p>
                        </div>
                        </div>

                    </div>
                    
                </div>

                <div class="newp1" *ngIf="show4">
                    <div class="klem">
                        <h4>Station MANANTALY</h4>
                        <div class="division">
                            <div>
                                <p>Projet : Unité de potabilisation d'eau rurale.</p>
                        <p>Lieu : Barrage Manantaly (Mali)</p>
                        <p>Capacité : 100m3/h.</p>
                        <p>Client : Hydranet (France).</p>
                        <p>Maitre d'œuvre : Hydranet (France).</p>
                        
                            </div>
                            <div class="partieleft1">
                                <p>Année de réalisation : 2010-2011.</p>
                        <p>Prestations fournies :</p>
                        <p>Etude, conception et fabrication du coffret électrique.</p>
                        <p>Programmation automate et pupitre opérateur.</p>
                        <p>Câblage, installation et mise en service sur site.</p></div></div>

                    </div>
                    <div class="image-slider">
                        <button (click)="prevImage()" id="arrow"><i class="bi bi-arrow-left-square-fill"></i></button>
                        <div class="main-images">
                            <div *ngFor="let image of displayedImages2; let i = index" class="main-image">
                                <img [src]="image" alt="Main Image {{i}}">
                            </div>
                        </div>
                          <button (click)="nextImage()" id="arrow"><i class="bi bi-arrow-right-square-fill"></i></button>
                        
                    </div>
                </div>
                <div class="newp1" *ngIf="show5">
                    <div class="klem">
                    <h4>Station Epuration Hôtel Laïco Brazaville </h4>
                    <div class="division">
                        <div>
                    <p>Projet : Station d’épuration des eaux usées.</p>
                    <p>Lieu : Hôtel Laïco Brazaville (Congo)</p>
                    <p>Capacité : 120m3/J.</p>
                    <p>Client : Hydranet (France)</p>
                    <p>Maitre d’œuvre : Hôtel Laïco Brazaville (Congo).</p>
                    
                        </div>
                    <div class="partieleft1">
                    <p>Année de réalisation : 2011.</p>
                    <p>Prestations fournies :</p>
                    <p>Etude, conception et fabrication du coffret électrique.</p>
                    <p>Programmation automate.</p>
                    <p>Câblage, installation et mise en service sur site.</p>
                    </div>
                    </div>

                    
                    </div>
                </div>
                <div class="newp1" *ngIf="show6">
                    <div class="klem">
                        <h4>Station Filtration eau minérale TREIGNAC </h4>
                        <div class="division">
                                <div>
                                
                                <p>Projet : Station de filtration d’eau minérale.</p>
                                <p>Lieu : TREIGNAC (France)</p>
                                <p>Capacité : 12m3/h.</p>
                                <p>Client : eKope (France)</p>
                                <p>Maitre d’œuvre : Eau de Treignac (France)</p>
                                </div>
                                <div class="partieleft1">
                                    <p>Année de réalisation : 2011.</p>
                                <p>Prestations fournies :</p>
                                <p>Etude, conception et fabrication du coffret électrique.</p>
                                <p>Programmation automate et pupitre opérateur.</p>
                                <p>Câblage, installation et mise en service sur site.</p>
                        </div>
                </div>

                    </div>
                    <div class="image-slider">
                        <button (click)="prevImage()" id="arrow"><i class="bi bi-arrow-left-square-fill"></i></button>
                        <div class="main-images">
                            <div *ngFor="let image of displayedImages3; let i = index" class="main-image">
                                <img [src]="image" alt="Main Image {{i}}">
                            </div>
                        </div>
                          <button (click)="nextImage()" id="arrow"><i class="bi bi-arrow-right-square-fill"></i></button>
                        
                    </div>
                </div>
                <div class="newp1" *ngIf="show7">
                    <div class="klem">
                        <h4>Station Epuration Hôpital KIBAGABAGA</h4>
                        <div class="division">
                            <div>
                                <p>Projet : Station d’épuration des eaux usées.</p>
                                <p>Lieu : Hôpital KIBAGABAGA (Rwanda)</p>
                                <p>Capacité : 120m3/J.</p>
                                <p>Client : Hydranet (France)</p>
                                <p>Maitre d’œuvre : Hôpital KIBAGABAGA (Rwanda)</p>
                            </div>
                            <div class="partieleft1">
                                <p>Année de réalisation : 2011.</p>
                                <p>Prestations fournies :</p>
                                <p>Etude, conception et fabrication du coffret électrique.</p>
                                <p>Programmation automate et pupitre opérateur.</p>
                            </div>
                        </div>
                    
                   
                    
                    </div>
                               
                                <div class="image-slider">
                                    
                                    <div class="main-images">
                                        <div class="fourimages">
                                <img src="assets/KIBAGABAGA/1.jpg">
                                <img src="assets/KIBAGABAGA/2.jpg">
                                <img src="assets/KIBAGABAGA/3.jpg">²²
                                <img src="assets/KIBAGABAGA/5.jpg">
                                        </div>
                                        
                                    </div>
                                      
                                    
                            </div>
                </div>
                <div class="newp1" *ngIf="show8">
                    <div class="klem">
                    <h4>Station de dosage Biocare Brazaville </h4>
                    <div class="division">
                        <div>
                    <p>Projet : Station de dosage de solution pour perfusion à usage humain.</p>
                    <p>Lieu : Brazaville (Congo)</p>
                    <p>Capacité : 20m3/J.</p>
                    <p>Client : eKope (France)</p>
                    <p>Maitre d’œuvre : Biocare (Congo)</p>
                    <p>Année de réalisation : 2012.</p>
                    </div>
                    <div class="partieleft">
                    <p>Prestations fournies :</p>
                    <p>Etude, conception et fabrication du coffret électrique.</p>
                    <p>Programmation automate et pupitre opérateur.</p>
                    <p>Synchronisation du fonctionnement entre l’unité d EPPI, notre système <br> de dosage et la remplisseuse.</p>
                    <p>Gestion des cycles de NEP (Nettoyage) unité de dosage et remplisseuse.</p>
                    <p>Câblage, installation et mise en service sur site.</p></div></div>
                    </div>
                    <div class="image-slider">
                                    
                        <div class="main-images">
                            <div class="fourimages">
                                <img src="assets/Brazaville/1.jpg">
                                <img src="assets/Brazaville/2.jpg">
                                <img src="assets/Brazaville/4.jpg">
                                <img src="assets/Brazaville/5.jpg">
                            </div>
                            
                        </div>
                          
                        
                </div>
                   
                </div>
            </div>
            
                <div class="newtittle" *ngIf="showbarre2">
                    
                    <div class="test2">
                        <div><button class="newbtn" >Dépot Frigorifique </button></div>
                     </div>
                    <div class="newp1" *ngIf="showsecond">
                            <div class="klem">
                                <h4>Dépôt frigorifique : ENNASSIM (Libye) </h4>
                                <p>Lieu : Usine de produits laitier</p>
                                <p>Descriptif : Armoire de commande et de supervision pour dépôt frigorifique</p>
                                <p>Automate employé : 2 x S7 200 en réseau.</p>
                                <p>Superviseur : WinCC Flexible Runtime + KTP1000.</p>
                            </div> 
                            <div class="image-slider">
                                    <button (click)="prevImage()" id="arrow"><i class="bi bi-arrow-left-square-fill"></i></button>
                                    <div class="main-images">
                                        <div *ngFor="let image of displayedImages; let i = index" class="main-image">
                                            <img [src]="image" alt="Main Image {{i}}">
                                        </div>
                                    </div>
                                      <button (click)="nextImage()" id="arrow"><i class="bi bi-arrow-right-square-fill"></i></button>
                                    
                            </div>
                                                                     
                    </div>      
                    
                          
                </div>
            
            <div class="tittle" *ngIf="showbarre3">
                <div class="test2">
                    <div><button  class="newbtn" >Armoire presse injection Sopal</button></div>
                </div>
                <div class="newp1" *ngIf="showthird">
                    <div class="klem">
                        <h4> Armoire presse injection Sopal (Tunisie) </h4>
                        <p>Lieu : Sfax</p>
                        <p>Descriptif : Installation d'une armoire de commande et de supervision <br>
                            destinée à contrôler une presse d'injection de laiton.</p>
                        <p>Automate employé : Siemens S7-200.</p>
                        <p>Superviseur : Utilisation du logiciel Runtime WinCC Flexible <br>
                            pour la supervision du processus.</p>

                    </div>
                            <div class="image-slider">
                                    
                                    <div class="main-images">
                                        
                                            <img src="assets/Sopal/1.jpg">
                                            <img src="assets/Sopal/2.jpg">
                                            <img src="assets/Sopal/3.jpg">
                                        
                                    </div>
                                      
                                    
                            </div>

                </div>
            </div>
            <div class="tittle" *ngIf="showbarre4">
                
                <div class="test2">
                    <div><button id="b3" class="b2" (click)="togglefour1()" (click)="setActiveButton2('button1')" [class.active]="activeButton2 === 'button1'">Unité Broyage STICC (Tunisie)</button></div>
                    <div><button id="b3" class="b2" (click)="togglefour2()" (click)="setActiveButton2('button2')" [class.active]="activeButton2 === 'button2'">Four de traitement Eurocast (U.S.A.)</button></div>
                </div>
                <div class="newp1" *ngIf="showfour1">
                <div class="klem">
                    <h4>Unité Broyage STICC (Tunisie) </h4>
                    <p>Lieu : Usine de broyage de CaCO3 (Fériana)</p>
                    <p>Descriptif : Armoire de commande et de supervision<br>
                    pour une unité de broyage de carbonate de calcium</p>
                    <p>Automate employé : S7 300.</p>
                    <p>Superviseur : Touch Panel MP377.</p>
                </div>
                <div class="image-slider">
                                    
                    <div class="main-images">
                        <img src="assets/broyage/1.jpg">
                        <img src="assets/broyage/2.jpg">
                    </div> 
            </div>

                
                </div>
                <div class="newp1" *ngIf="showfour2">
                <div class="klem">
                    <h4>Four de traitement Eurocast (U.S.A.) </h4>
                    <p>Lieu : Fonderie pièce pour réacteur d’avion (Tunisie)</p>
                    <p>Descriptif : Armoire de commande et de supervision pour four de traitement thermique</p>
                    <p>Automate employé : S7 200.</p>
                    <p>Superviseur : WinCC Flexible Runtime.</p>
                </div>

                            <div class="image-slider">
                                    
                                <div class="main-images">
                                    <img src="assets/Eurocast/2.jpg">
                                    <img src="assets/Eurocast/3.jpg">
                                </div> 
                        </div>
                </div>
            </div>
            <div class="tittle" *ngIf="showbarre5">
                <div class="test2">
                    <div><button class="newbtn" >Système de commande pour centrale à béton</button></div>
                </div>
                <div class="newp1" *ngIf="showfive">
                <div class="klem">
                    <div class="division">
                        <div>
                    <h4>Système de commande pour centrale à béton </h4>
                    <p>Projet : Système de commande pour centrale à béton.</p>
                    <p>Lieu : Jebel Oust (Tunisie)</p>
                    <p>Client : SOROUBAT</p>
                    <p>Capacité malaxeur : 3m3 de béton.</p>
                    <p>Année de réalisation : 2013</p>
                        </div>
                        <div class="partieleft">
                            <br><br><br>
                    <p>Prestations : Étude, conception et fourniture du système de pesage </p>
                    <p>capteurs de poids,du système de dosage d'adjuvant et du coffret</p>  
                    <p>électrique à base d'automate programmable SIEMENS S7, ainsi qu'un</p> 
                    <p>système de supervision sur PC sous WinCC Flexible.</p>
                        </div>
                    </div>
                </div>
                            <div class="image-slider">
                                <button (click)="prevImage()" id="arrow"><i class="bi bi-arrow-left-square-fill"></i></button>
                                <div class="main-images">
                                    <div *ngFor="let image of displayedImages; let i = index" class="main-image">
                                        <img [src]="image" alt="Main Image {{i}}">
                                    </div>
                                </div>
                                  <button (click)="nextImage()" id="arrow"><i class="bi bi-arrow-right-square-fill"></i></button>
                                
                        </div>
                </div>
            </div>
            <div class="tittle" *ngIf="showbarre6">
                <div class="test2">
                    <div><button class="newbtn" >Unité de fabrication détergents liquides</button></div>
                </div>
                <div class="newp1" *ngIf="shows">
                <div class="klem">
                    <div class="division">
                        <div>
                    <h4> Unité de fabrication détergents liquides </h4>
                    <p>Projet : Unité de fabrication détergents liquides.</p>
                    <p>Lieu : Sfax (Tunisie)</p>
                    <p>Client : SODET</p>
                    <p>Capacité réacteur : 3m3</p>
                    <p>Année de réalisation : 2010</p>
                    </div><div>
                        <br>
                        <br>
                        <p>Prestations : Étude, conception et fourniture d'une unité de <br><br>fabrication 
                            de détergent liquide complète
                        , y compris réacteur <br><br>de préparation,
                         cuves de stockage, pompes et circuit hydraulique,<br><br>
                        coffret électrique de commande à base d'automate programmable<br><br>
                         SIEMENS S7 et module SIWAREX,ainsi qu'un système de supervision<br><br>
                          sur PC sous WinCC Flexible.</p>
                    </div>
                    </div>
                    

                </div>          
                            <div class="image-slider">
                                    
                                <div class="main-images">
                                    <div class="fourimages">
                                    <img src="assets/chimie/2.jpg">
                                    <img src="assets/chimie/3.jpg">
                                    <img src="assets/chimie/4.jpg">
                                    <img src="assets/chimie/5.jpg">
                                    </div>
                                </div> 
                        </div>
                
                </div>
            </div>
            </div> 
    </div>

    <footer> 
        <div class="footer clear tahoma">
            <div class="footer_wrap">
                <div class="float_left bottom_nav">
                        <ul class="navigation-list">
                         <li><a href="/acceuil">Acceuil</a></li>
                         <li class="divider">|</li>
                         <li><a href="fpresentation">Présentation</a></li>
                         <li class="divider">|</li>
                         <li><a href="/fservices">Services</a></li>
                         <li class="divider">|</li>
                         <li><a href="/realisation">Réferences</a></li>
                         <li class="divider">|</li>
                         <li><a href="/factivite">Activités</a></li>
                         <li class="divider">|</li>
                         <li><a href=""> Catalogue</a></li>                     
                         <li><a href="">Equipement</a></li>
                         <li class="divider">|</li>
                         <li><a href="/fcertificats" >Certificats</a></li>
                         <li class="divider">|</li>
                         <li><a href="/clients">Clients</a></li>
                         <li class="divider">|</li>
                         <li><a href="/fgallery">Photos</a></li>
                         <li class="divider">|</li>
                         <li><a href="">Video</a></li>
                         <li class="divider">|</li>
                         <li><a href="/fnews">Actualités</a></li>
                         <li class="divider">|</li>
                         <li><a href="" >Newsletter</a></li>
                         <li class="divider">|</li>
                         <li><a href="/fcontact">Contact</a></li>
                        </ul>
                </div>
                <div class="float_right ">
                  <div class="copy">
                    Copyright © 2013  www.cotechplanet.net 
                    <span>Powered by <a href="" target="_blank">CRESUS</a></span>
                  </div>
                </div>
              
            </div>
        </div>
      </footer>

</body>
