<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <div class="icons">
        <a href="https://twitter.com/cotech" target="_blank"><i id="twitter"class="bi bi-twitter"></i></a>      
        <a href="https://facebook.com/cotech" target="_blank"><i id="facebook"class="bi bi-facebook"></i></a>
        <a href="https://gmail.com/cotech" target="_blank"><i id="gmail"class="bi bi-google"></i> </a>
        </div>
</head>
<body > 
    <div class="top-bar">
        <div class="contact-info">
          <p><span class="red-text">Phone:</span> +216 71 501 080</p>
          <div class="lang">
            <button class="fr" routerLink="/acceuil" routerLinkActive="active" >FR</button>
            <button routerLink="/home" routerLinkActive="active" class="ag">AN</button>
          </div>
        </div>
        <div class="social-links">
          <p><span class="red-text">Email:</span> cotech@planet.tn</p>
          <a href="https://twitter.com/cotech" target="_blank"><i class="bi bi-twitter"></i></a>      
          <a href="https://facebook.com/cotech" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://gmail.com/cotech" target="_blank"><i class="bi bi-envelope"></i> </a>
        </div>
      </div>
    <div class="navbar">
        
           
        <div class="container-fluid">
          <div class="logo">
              <img src="assets/images/logo3.png">
            <div class="name"><h1>Cotech</h1></div>
          </div>
            <div class="links">
                <a id="home"class="nav-link active" href="/home">Home</a>
                <a class="nav-link" href="/presentation">Presentation</a>
                <a class="nav-link" href="/services">services</a>
                <a class="nav-link" href="/erealisation">Realisation</a>
                <a class="nav-link" href="#">Certificates</a>
                <a class="nav-link" href="/contact">Contact</a>
            </div>
        </div>
    </div> 