<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <div class="icons">
      <a href="https://twitter.com/cotech" target="_blank"><i id="twitter"class="bi bi-twitter"></i></a>      
      <a href="https://facebook.com/cotech" target="_blank"><i id="facebook"class="bi bi-facebook"></i></a>
      <a href="https://gmail.com/cotech" target="_blank"><i id="gmail"class="bi bi-google"></i> </a>
      </div>
</head>
<body > 
  <div class="top-bar">
    <div class="sous-top-bar">
      <div class="contact-info">
        <p><span class="red-text">Téléphone:</span> +216 71 501 080</p>
        <div class="lang">
          <button class="fr" routerLink="/acceuil" routerLinkActive="active" >FR</button>
          <button routerLink="/home" routerLinkActive="active" class="ag" href="/home">AN</button>
        </div>
      </div>
      <div class="social-links">
        <p><span class="red-text">Email:</span> cotech@planet.tn</p>
        <a href="https://twitter.com/cotech" target="_blank"><i class="bi bi-twitter"></i></a>      
        <a href="https://facebook.com/cotech" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://gmail.com/cotech" target="_blank"><i class="bi bi-envelope"></i> </a>
      </div>
    </div>
  </div>
    <div class="navbar">    
        <div class="container-fluid">
            <div class="name"><h1>Cotech</h1></div>
            <div class="links">
                <a class="nav-link" href="/acceuil">Acceuil</a>
                <a id="presentation"class="nav-link active" href="/fpresentation">Présentation</a>
                <a class="nav-link" href="/fservices">sérvices</a>
                <a class="nav-link" href="/realisation">Réalisation</a>
                <a class="nav-link" href="#">Cértificats</a>
                <a class="nav-link" href="/fcontact">Contact</a>
            </div>
        </div>
    </div>   
    <div class="my-component">
      <div class="page-header">
        <h1>Photo Gallery</h1>
      </div>
      
      <div class="bar">
       <div class="category-button" (click)="setActiveButton('button1')" [class.active]="activeButton === 'button1'" (click)="toggleshowimages1()"> Water treatment</div>
       <div class="category-button" (click)="setActiveButton('button2')" [class.active]="activeButton === 'button2'" (click)="toggleshowimages2()">Food Industry</div> 
       <div class="category-button" (click)="setActiveButton('button3')" [class.active]="activeButton === 'button3'" (click)="toggleshowimages3()">Concrete</div>
       <div class="category-button" (click)="setActiveButton('button4')" [class.active]="activeButton === 'button4'" (click)="toggleshowimages4()">Foundry</div>
       <div class="category-button" (click)="setActiveButton('button5')" [class.active]="activeButton === 'button5'" (click)="toggleshowimages5()">Chemistry</div>
       <div class="category-button" (click)="setActiveButton('button6')" [class.active]="activeButton === 'button6'" (click)="toggleshowimages6()">Various</div>
      </div>
    <div *ngIf="showimage1">
     <div class="image-container">
      <br>
      <div class="image-carousel-container">
       <div class="image-carousel">
        <img src="assets/water/a.jpg">
        <img src="assets/water/b.jpg">
        <img src="assets/water/c.jpg">
        <img src="assets/water/d.jpg">
        <img src="assets/water/e.jpg">
        <img src="assets/water/f.jpg">
        <img src="assets/water/g.jpg">
        <img src="assets/water/h.jpg">
        <img src="assets/water/i.jpg">
        <img src="assets/water/j.jpg">
        <img src="assets/water/k.jpg">
        <img src="assets/water/l.jpg">
        <img src="assets/water/m.jpg">
        <img src="assets/water/n.jpg">
        <img src="assets/water/o.jpg">
        <img src="assets/water/p.jpg">
        <img src="assets/water/q.jpg">
        <img src="assets/water/r.jpg">
        <img src="assets/water/s.jpg">
        <img src="assets/water/t.jpg">
        <img src="assets/water/u.jpg">
        <img src="assets/water/v.jpg">
        <img src="assets/water/w.jpg">
        <img src="assets/water/x.jpg">
        <img src="assets/water/y.jpg">
        <img src="assets/water/z.jpg">
        <img src="assets/water/aa.jpg">
        <img src="assets/water/bb.jpg">
        <img src="assets/water/cc.jpg">
        <img src="assets/water/dd.jpg">
        <img src="assets/water/ee.jpg">
        <img src="assets/water/ff.jpg">
        <img src="assets/water/gg.jpg">
        <img src="assets/water/hh.jpg">
        <img src="assets/water/ii.jpg">
        <img src="assets/water/jj.jpg">
        <img src="assets/water/kk.jpg">
        <img src="assets/water/ll.jpg">
        <img src="assets/water/mm.jpg">
        <img src="assets/water/oo.jpg">
        <img src="assets/water/pp.jpg">
        <img src="assets/water/qq.jpg">
        <img src="assets/water/rr.jpg">
        <img src="assets/water/ss.jpg">
        </div>
      </div>
     </div>
     </div>
     <div *ngIf="showimage2">
       <div class="image-container">
       <br>
         <div class="image2">
           <div class="image-carousel">
              <img src="assets/industry/tt.jpg" >
              <img src="assets/industry/uu.jpg">
              <img src="assets/industry/vv.jpg">
           </div>
          </div>
          </div>
        </div>
        <div *ngIf="showimage3"> 
          <div class="image-container">
            <br>
          <div class="image-carousel-container">
            <div class="image-carousel">
             <img src="assets/concrete/a.jpg">
             <img src="assets/concrete/b.jpg">
             <img src="assets/concrete/c.jpg">
             <img src="assets/concrete/d.jpg">
             <img src="assets/concrete/e.jpg">
             <img src="assets/concrete/f.jpg">
             <img src="assets/concrete/h.jpg">
             <img src="assets/concrete/i.jpg">
             <img src="assets/concrete/j.jpg">
            </div>
          </div>
        </div>
      </div>

        <div *ngIf="showimage4">
          <div class="image-container">
            <br>
           <div class="image2">
            <div class="image-carousel"> 
              <img src="assets/foundry/k.jpg">
              <img src="assets/foundry/l.jpg">
              <img src="assets/foundry/m.jpg">
             </div>
           </div>
          </div>
        </div>
        <div *ngIf="showimage5"> 
          <div class="image-container">
            <br>
          <div class="image-carousel-container">
            <div class="image-carousel">
          <img src="assets/chemistry/n.jpg">
          <img src="assets/chemistry/o.jpg">
          <img src="assets/chemistry/p.jpg">
          <img src="assets/chemistry/q.jpg">
          <img src="assets/chemistry/r.jpg">
        </div>
        </div>
        </div>
        </div>
        <div *ngIf="showimage6"> 
          <div class="image-container">
            <br>
          <div class="image-carousel-container">
            <div class="image-carousel">
              <img src="assets/various/aa.jpg">
              <img src="assets/various/bb.jpg">
              <img src="assets/various/cc.jpg">
              <img src="assets/various/dd.jpg">
              <img src="assets/various/ee.jpg">
            </div>
           </div>
          </div>
        </div>
    
    <footer> 
      <div class="footer clear tahoma">
          <div class="footer_wrap">
              <div class="float_left bottom_nav">
                      <ul class="navigation-list">
                       <li><a href="/home">Home</a></li>
                       <li class="divider">|</li>
                       <li><a href="/presentation">Presentation</a></li>
                       <li class="divider">|</li>
                       <li><a href="/services">Services</a></li>
                       <li class="divider">|</li>
                       <li><a href="">References</a></li>
                       <li class="divider">|</li>
                       <li><a href="">Activities</a></li>
                       <li class="divider">|</li>
                       <li><a href=""> Catalog</a></li>                     
                       <li><a href="">Equipement</a></li>
                       <li class="divider">|</li>
                       <li><a href="" >Certificats</a></li>
                       <li class="divider">|</li>
                       <li><a href="">Clients</a></li>
                       <li class="divider">|</li>
                       <li><a href="/gallery">Photos</a></li>
                       <li class="divider">|</li>
                       <li><a href="">Video</a></li>
                       <li class="divider">|</li>
                       <li><a href="/news">News</a></li>
                       <li class="divider">|</li>
                       <li><a href="" >Newsletter</a></li>
                       <li><a href="/contactus">Contact</a></li>
                      </ul>
              </div>
              <div class="float_right ">
                <div class="copy">
                  Copyright © 2013  www.cotechplanet.net 
                  <span>Powered by <a href="" target="_blank">CRESUS</a></span>
                </div>
              </div>
            
          </div>
      </div>
    </footer>
    </div>
</body>
  