<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <div class="icons">
        <a href="https://twitter.com/cotech" target="_blank"><i id="twitter"class="bi bi-twitter"></i></a>      
        <a href="https://facebook.com/cotech" target="_blank"><i id="facebook"class="bi bi-facebook"></i></a>
        <a href="https://gmail.com/cotech" target="_blank"><i id="gmail"class="bi bi-google"></i> </a>
        </div>
</head>
<body > 
    <div class="top-bar">
        <div class="contact-info">
          <p><span class="red-text">Phone:</span> +216 71 501 080</p>
          <div class="lang">
            <button class="fr" routerLink="/acceuil" routerLinkActive="active" >FR</button>
            <button routerLink="/home" routerLinkActive="active" class="ag" href="/home">AN</button>
          </div>
        </div>
        <div class="social-links">
          <p><span class="red-text">Email:</span> cotech@planet.tn</p>
          <a href="https://twitter.com/cotech" target="_blank"><i class="bi bi-twitter"></i></a>      
          <a href="https://facebook.com/cotech" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://gmail.com/cotech" target="_blank"><i class="bi bi-envelope"></i> </a>
        </div>
      </div>
    <div class="navbar">   
           
        <div class="container-fluid">
            <div class="name"><h1>Cotech</h1></div>
            <div class="links">
                <a class="nav-link" href="/acceuil">Acceuil</a>
                <a class="nav-link" href="/fpresentation">Péesentation</a>
                <a class="nav-link" href="/fservices">sérvices</a>
                <a class="nav-link" href="/realisation">Réalisation</a>
                <a class="nav-link" href="#">Certificates</a>
                <a class="nav-link " href="/fcontact">Contact</a>
            </div>
        </div>
    </div> 
  <main>  
    <br>
    <br>
    <br>
    <div class="news-container">
      <div class="news-article">
        <h2>Lancement de notre Site Web Officiel</h2>
        <p class="news-date">(01-09-2023)</p>
        <p>Le 1er septembre 2023, nous avons officiellement lancé notre site web <a href="https://www.cotechplanet.net" target="_blank">www.cotechplanet.net</a>. Cela a marqué une étape significative dans notre parcours, nous permettant de nous connecter avec notre public en ligne et de présenter nos produits et services.</p>
        <div class="news-image">
           <img src="assets/images/Capture d'écran 2023-08-25 214958.png" alt="Capture d'écran du site web">
        </div>
     </div>

      <div class="news-article">
        <h2>Projet de méthanation en Italie (Troia)</h2>
        <p class="news-date">(02-12-2018)</p>
        <p>Automatisation d'un démonstrateur convertissant en méthane l’excédent d’électricité d’énergie </p>
        <div class="news-images">
          <img src="assets/images/1.jpg" alt="Image 1">
          <img src="assets/images/2.jpg" alt="Image 2">
          <img src="assets/images/3.jpg" alt="Image 3">
        </div>
      </div>
    </div>
    
  </main>
  <footer> 
    <div class="footer clear tahoma">
        <div class="footer_wrap">
            <div class="float_left bottom_nav">
                    <ul class="navigation-list">
                     <li><a href="/acceuil">Acceuil</a></li>
                     <li class="divider">|</li>
                     <li><a href="/fpresentation">Présentation</a></li>
                     <li class="divider">|</li>
                     <li><a href="/fservices">Sérvices</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Réferences</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Activitiés</a></li>
                     <li class="divider">|</li>
                     <li><a href=""> Catalogue</a></li>                     
                     <li><a href="">Equipement</a></li>
                     <li class="divider">|</li>
                     <li><a href="" >Cértificats</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Clients</a></li>
                     <li class="divider">|</li>
                     <li><a href="/gallery">Photos</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Vidéo</a></li>
                     <li class="divider">|</li>
                     <li><a href="/news">Actualité</a></li>
                     <li class="divider">|</li>
                     <li><a href="/news" >Newsletter</a></li>
                     <li><a href="/fcontact">Contact</a></li>
                    </ul>
            </div>
            <div class="float_right ">
              <div class="copy">
                Copyright © 2013  www.cotechplanet.net 
                <span>Powered by <a href="" target="_blank">CRESUS</a></span>
              </div>
            </div>
          
        </div>
    </div>
  </footer>
</body>
</html>
  
