<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Home</title>

  </head>

<body>



  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    
                    <a href="index.html" class="logo">
                        <img src="assets/images/logo4.png" alt="f2k" >
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      
                      <li><a class="active" (click)="navigateToSection('home')">Home</a></li>
                      <li><a (click)="navigateToSection('presentation')">Presentation</a></li>
                      <li><a (click)="navigateToSection('services')">Our services</a></li>
                      <li><a (click)="navigateToSection('Achivements')">Achivements</a></li>
                      <li><a (click)="navigateToSection('contactus')">Contact Us</a></li>
                      <div class="lang">
                        <button class="fr" routerLink="/fversion" routerLinkActive="active" >FR</button>
                        <button routerLink="/test" routerLinkActive="active" class="ag" href="/test">AN</button>
                      </div>
                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner" id="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 align-self-center">
          <div class="caption header-text">
            <h6>Welcome to F2K</h6>
            <h2>Empowering Industries</h2>
            <p>Empowering Industries Through Precision Automation and Expert Consultacy</p>
            <div><button [routerLink]="['/gallery']" class="gallery"> Gallery</button>  </div>
            
          </div>
        </div>

        <div class="col-lg-4 offset-lg-2">
          <div class="right-image">
            <div class="image-slideshow">
                <div class="image-slide-container" *ngFor="let image of images; let i = index" [ngClass]="{ 'active': i === currentImageIndex}">
                    
                    <div class="photo"><img [src]="image" alt="Slideshow Image">
                        <div class="image-navigation-dots">
                            <span 
                              class="dot" 
                              *ngFor="let image of images; let i = index" 
                              [ngClass]="{ 'active': i === currentImageIndex }"
                              (click)="changeImage(i)"
                            ></span>
                          </div>
    
                    </div>
                    <button id="prev"class="prev-button" (click)="prevImage()"><i class="bi bi-arrow-left-circle-fill"></i></button>
                    <button class="next-button" (click)="nextImage()"><i class="bi bi-arrow-right-circle-fill"></i></button>
                </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="features" id="services">
    <div class="container">

      <div class="row">
       
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="item">
              <div class="image">
                
                <img src="assets/images/auto.png" alt="" style="max-width: 44px; margin-top: 20px;">
              </div>
              <h4>Study of Industrial Automation Projects </h4>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="item">
              <div class="image">
                <img src="assets/images/cable.png" alt="" style="max-width: 44px; margin-top: 20px;">
              </div>
              <h4>Design and<br>Assembling</h4>
          
            
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="item">
              <div class="image">
                <img src="assets/images/idea.png" alt="" style="max-width: 44px;margin-top: 20px;">
              </div>
              <h4>On-Site   <br>Implementation</h4>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="#">
            <div class="item">
              <div class="image">
                <img src="assets/images/solution.png" alt="" style="max-width: 44px;margin-top: 20px;">
              </div>
              <h4>Top Technology Solutions </h4>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="section trending" id="presentation">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            
            <h2>Presentation</h2>
            <h6>About Us</h6>
            <p>F2k is a french company specialized in the study, development and realization of industrial automation projects; also we fulfill regulation systems for production chains on PLC basis. We offer practical consultancy based on 30 years of experience in automation of industrial production processes.</p>
          </div>
        </div>
        <div class="col-lg-6">
          
        </div>
       
        <div class="col-lg-4 col-md-6">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/adv-auto.png" alt="" style="max-width:100px; margin-left: 35%; margin-top: 2%;"></a>
              
            </div>
            <div class="down-content">
              <h5 class="category">Advanced Automation</h5>
              <p>We use the data 'weight' (basic information) to control your material stream and process.

                Automation can give you faster, safer production processes which are more efficient, flexible,
                 reliable, sustainable and cost-effective. Working with
                 Cotech also means you can be sure of the project content, cost, delivery dates and end result.</p>
              
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="item">
              <div class="thumb">
                <a href="product-details.html"><img src="assets/images/assistance.png" alt="" style="max-width:100px; margin-left: 35%; margin-top: 2%;"></a>
              </div>
              <div class="down-content">
                <h5 class="category">Expert Assistance</h5>
                <p>
                  We can give you assistance with weighing, dosing and automation so that you can maintain your competitive position
  
                  Learn More We can give you assistance with weighing, dosing and automation so that you can maintain your competitive position
                  <br><br>
                </p>
                
              </div>
            </div>
          </div>
        <div class="col-lg-4 col-md-6">
          <div class="item">
            <div class="thumb">
              <a href="product-details.html"><img src="assets/images/global-impact.png" alt="" style="max-width:100px; margin-left: 35%;margin-top: 2%;"></a>
              
            </div>
            <div class="down-content">
              <h5 class="category">Global impact</h5>
              <p>The realizations of F2K are adopted in Africa, Europe, America and the Middle East.

                We offer new solutions as well as renewal of existing installations.</p>
                <br><br><br>
            </div>
          </div>
        </div>
        
        
      </div>
    </div>
  </div>

  <div class="section most-played" id="Achivements">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>Achivements</h2>
            <h6>Fields</h6>
            
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-button">
            <a  href="/Achivments" >View All</a>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
   
            </div>
            <div class="down-content">
                
                <h4>Water treatment</h4>
                <a href="/Achivments">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
             
            </div>
            <div class="down-content">
                
                <h4>Food Industry</h4>
                <a href="/Achivments">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">

            </div>
            <div class="down-content">
                
                <h4>Foundry</h4>
                <a href="/Achivments">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">

            </div>
            <div class="down-content">
                
                <h4>Various</h4>
                <a href="/Achivments">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
 
            </div>
            <div class="down-content">
                
                <h4>Concrete</h4>
                <a href="/Achivments">Explore</a>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
       
            </div>
            <div class="down-content">
                
                <h4>Chemistry</h4>
                <a href="/Achivments">Explore</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  


<div class="section cta" id="contactus">

  <div class="container">

    <div class="row">
      <div class="section-heading">
        <h2>Contact </h2>
        <h6>Contact us and let's work together</h6>
      </div>

      <!-- contact Box:  -->
      <div class="col-lg-12  ">
        
        <div class="shop ">
          <div class="row">
            
            <div class="col-lg-12">
              <div class="row">
                
                <div class="col-md-4">
                  
                    <i class="fa fa-phone icon-style" aria-hidden="true"></i> 
                    <br>
                    <span>Call us on </span>
                    <br>
                    <span class="bold">+336 8038 5496 </span>
                  
                </div>
                <div class="col-md-4">
                  
                    <i class="fa fa-envelope icon-style"></i> <!-- Icône email Bootstrap -->
                    <br>
                    <span>Send us an email</span>
                    <br>
                    <span class="bold">F2k&#64;gmail.com</span>
                 
                </div>
                <div class="col-md-4">
                  
                    <i class="bi bi-geo-alt-fill icon-style"></i> 
                    <br>
                    <span>Our location address</span>
                    <br>
                    <span class="bold">13 avenue DURANTE 06000 Nice France </span>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      
    </div>
  </div>
</div>



<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="list-inline">
          <li><a (click)="navigateToSection('home')">Home</a></li>
          <li><a (click)="navigateToSection('presentation')">Presentation</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline">
          <li><a (click)="navigateToSection('services')">Services</a></li>
          <li><a (click)="navigateToSection('Achivements')">Achievements</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="list-inline">
          <li><a (click)="navigateToSection('contactus')">Contact</a></li>
          <li><a class="gl" href="/gallery">Gallery</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button class="btn btn-secondary btn-sm" (click)="navigateToSection('home')">Back to Top</button>
      </div>

    </div>
  </div>
</footer>




  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->


  </body>
</html>