<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  <header>
    <nav class="navbar">
        <div class="container-fluid">
          <img src="assets/images/logo.png">
          <div class="col2">
            <div class="links">
              <a class="nav-link active" href="/home">Home</a>
              <a class="nav-link" href="#">Presentation</a>
              <a class="nav-link" href="/services">services</a>
              <a class="nav-link" href="#">References</a>
              <a class="nav-link" href="#">Certificates</a>
              <a class="nav-link" href="#">Contact</a> 
            </div>
          </div>
        </div>
    </nav>
  </header>
  <main>
    <div class="a"><i class="bi bi-facebook"></i></div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="news-container">
      <div class="news-article">
        <h2>Launch of our Official Website</h2>
        <p class="news-date">(01-09-2023)</p>
        <p>On the 1st of September, 2023, we officially launched our website <a href="https://www.cotechplanet.net" target="_blank">www.cotechplanet.net</a>. It marked a significant milestone in our journey, enabling us to connect with our audience online and showcase our products and services.</p>
        <div class="news-image">
          <img src="assets/images/capture.png" alt="Website Capture">
        </div>
      </div>
    
      <div class="news-article">
        <h2>Projet de méthanation en Italie (Troia)</h2>
        <p class="news-date">(02-12-2018)</p>
        <p>Automatisation d'un démonstrateur convertissant en méthane l’excédent d’électricité d’énergie (en anglais)</p>
        <div class="news-images">
          <img src="assets/images/1.jpg" alt="Image 1">
          <img src="assets/images/2.jpg" alt="Image 2">
          <img src="assets/images/3.jpg" alt="Image 3">
        </div>
      </div>
    </div>
    
  </main>
  <footer> 
    <div class="footer clear tahoma">
        <div class="footer_wrap">
            <div class="float_left bottom_nav">
                    <ul class="navigation-list">
                     <li><a href="/home">Home</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Presentation</a></li>
                     <li class="divider">|</li>
                     <li><a href="/services">Services</a></li>
                     <li class="divider">|</li>
                     <li><a href="">References</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Activities</a></li>
                     <li class="divider">|</li>
                     <li><a href=""> Catalog</a></li>                     
                     <li><a href="">Equipement</a></li>
                     <li class="divider">|</li>
                     <li><a href="" >Certificats</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Clients</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Photos</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Video</a></li>
                     <li class="divider">|</li>
                     <li><a href="">News</a></li>
                     <li class="divider">|</li>
                     <li><a href="/news" >Newsletter</a></li>
                     <li><a href="">Contact</a></li>
                    </ul>
            </div>
            <div class="float_right ">
              <div class="copy">
                Copyright © 2013  www.cotechplanet.net 
                <span>Powered by <a href="" target="_blank">CRESUS</a></span>
              </div>
            </div>
          
        </div>
    </div>
  </footer>
</body>
</html>
  
