<!DOCTYPE html> 
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <div class="icons">
        <a href="https://twitter.com/cotech" target="_blank"><i id="twitter"class="bi bi-twitter"></i></a>      
        <a href="https://facebook.com/cotech" target="_blank"><i id="facebook"class="bi bi-facebook"></i></a>
        <a href="https://gmail.com/cotech" target="_blank"><i id="gmail"class="bi bi-google"></i> </a>
        </div>
</head>
<body > 
  <div class="top-bar">
    <div class="sous-top-bar">
      <div class="contact-info">
        <p><span class="red-text">Phone:</span> +216 71 501 080</p>
        <div class="lang">
          <button class="fr" routerLink="/acceuil" routerLinkActive="active" >FR</button>
          <button routerLink="/home" routerLinkActive="active" class="ag" href="/home">AN</button>
        </div>
      </div>
      <div class="social-links">
        <p><span class="red-text">Email:</span> cotech@planet.tn</p>
        <a href="https://twitter.com/cotech" target="_blank"><i class="bi bi-twitter"></i></a>      
        <a href="https://facebook.com/cotech" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://gmail.com/cotech" target="_blank"><i class="bi bi-envelope"></i> </a>
      </div>
    </div>
  </div>
    <div class="navbar">
        <div class="container-fluid">
            <div class="name"><h1>Cotech</h1></div>
            <div class="links">
                <a class="nav-link" href="/home">Home</a>
                <a class="nav-link" href="/presentation">Presentation</a>
                <a id="services"class="nav-link active" href="/services">services</a>
                <a class="nav-link" href="/erealisation">Realisation</a>
                <a class="nav-link" href="/certificates">Certificates</a>
                <a class="nav-link" href="/contactus">Contact</a>
            </div>
        </div>
    </div>  
    <main >
      
      <div class="clear banner">
        
        <div class="image-overlay">
          <div class="overlay-content">
            <h1>Our Services </h1>
            <p>Experience excellece in industrial automation with our comprehensive range of services. At Cotech,<br>
            we specialize in delivering innovative solutions tailored to your automation needs. </p>
          </div>
        </div>
      </div>
        <hr>
        
        <div class="row">
          <div class="col1">
                <div class="card">
                <div class="card-body">
                    <div class="icony"><img src="assets/images/auto.png"></div>
                    <h5 class="card-title">Study of Industrial Automation Projects   </h5>
                    
                    <p class="card-text">
                    Study of new industrial automation projects. We specialize in functional analyses and PLC programming.
                    </p>
                </div>
                </div>
          </div>
          <div class="col3">
                <div class="card">
                <div class="card-body">
                    <div class="icony"><img src="assets/images/cable.png"></div>
                    <h5 class="card-title">Design and Assembling</h5>
                    <br>
                    <p class="card-text">
                    Study, design, and assembling of switchboards. Development of synopses and use of CAD tools for design.
                    </p>
                </div>
                </div>
          
          </div>
          <div class="col4">
                <div class="card">
                <div class="card-body">
                    <div class="icony"><img src="assets/images/idea.png"></div>
                    <h5 class="card-title">On-Site Implementation </h5>
                    <br>
                    <p class="card-text">
                    Implementation of solutions on site for seamless integration. Technical assistance, maintenance, and service.
                    </p>
                </div>
                </div>
          </div>
          <div class="col5">
                <div class="card">
                <div class="card-body">
                    <div class="icony"><img src="assets/images/solution.png"></div>
                    <h5 class="card-title">Top Technology Solutions </h5>
                    <p class="card-text">
                    Cotech and specialized partners offer high-precision solutions using top technology in weighing and automation.
                    </p>
                </div>
                </div>
          </div>
        </div>
      
      
      
         
    </main>

    <footer>
      <div class="footer clear tahoma">
        <div class="footer_wrap">
            <div class="float_left bottom_nav">
                    <ul class="navigation-list">
                     <li><a href="/home">Home</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Presentation</a></li>
                     <li class="divider">|</li>
                     <li><a href="/services">Services</a></li>
                     <li class="divider">|</li>
                     <li><a href="">References</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Activities</a></li>
                     <li class="divider">|</li>
                     <li><a href=""> Catalog</a></li>                     
                     <li><a href="">Equipement</a></li>
                     <li class="divider">|</li>
                     <li><a href="" >Certificats</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Clients</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Photos</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Video</a></li>
                     <li class="divider">|</li>
                     <li><a href="/news">News</a></li>
                     <li class="divider">|</li>
                     <li><a href="" >Newsletter</a></li>
                     <li><a href="">Contact</a></li>
                    </ul>
            </div>
            <div class="float_right ">
              <div class="copy">
                Copyright © 2013  www.cotechplanet.net 
                <span>Powered by <a href="" target="_blank">CRESUS</a></span>
              </div>
            </div>
          
        </div>
    </div>
      
    </footer>

</body>
</html>