<!DOCTYPE html> 
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sérvices</title>
    <div class="icons">
        <a href="https://twitter.com/cotech" target="_blank"><i id="twitter"class="bi bi-twitter"></i></a>      
        <a href="https://facebook.com/cotech" target="_blank"><i id="facebook"class="bi bi-facebook"></i></a>
        <a href="https://gmail.com/cotech" target="_blank"><i id="gmail"class="bi bi-google"></i> </a>
        </div>
</head>
<body > 
  <div class="top-bar">
    <div class="sous-top-bar">
      <div class="contact-info">
        <p><span class="red-text">Téléphone:</span> +216 71 501 080</p>
        
      </div>
      <div class="social-links">
        <p><span class="red-text">Email:</span> cotech@planet.tn</p>
        <a href="https://twitter.com/cotech" target="_blank"><i class="bi bi-twitter"></i></a>      
        <a href="https://facebook.com/cotech" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://gmail.com/cotech" target="_blank"><i class="bi bi-envelope"></i> </a>
      </div>
    </div>
  </div>
    <div class="navbar">
        <div class="container-fluid">
            <div class="name"><h1>Cotech</h1></div>
            <div class="links">
                <a class="nav-link" href="/acceuil">Acceuil</a>
                <a class="nav-link" href="/fpresentation">Présentation</a>
                <a id="services"class="nav-link active" href="/fservices">sérvices</a>
                <a class="nav-link" href="/realisation">Realisation</a>
                <a class="nav-link" href="#">Cértificats</a>
                <a class="nav-link" href="#">Contact</a>
            </div>
        </div>
    </div>  
    <main >
      
      <div class="clear banner">
        
        <div class="image-overlay">
            <div class="overlay-content">
                <h1>Nos Services</h1>
                <p>Expérimentez l'excellence dans l'automatisation industrielle avec notre gamme complète de services. Chez Cotech, nous sommes spécialisés dans la fourniture de solutions innovantes adaptées à vos besoins en automatisation.</p>
             </div>
             
        </div>
      </div>
        <hr>
        
        <div class="row">
          <div class="col1">
                <div class="card">
                    <div class="card-body">
                        <div class="icony"><img src="assets/images/auto.png"></div>
                        <h5 class="card-title">Étude de Projets d'Automatisation Industrielle</h5>
                        
                        <p class="card-text">
                        Étude de nouveaux projets d'automatisation industrielle. Nous sommes spécialisés dans les analyses fonctionnelles et la programmation PLC.
                        </p>
                     </div>
                     
                </div>
          </div>
          <div class="col3">
                <div class="card">
                    <div class="card-body">
                        <div class="icony"><img src="assets/images/cable.png"></div>
                        <h5 class="card-title">Conception et Assemblage</h5>
                        <br>
                        <p class="card-text">
                        Étude, conception et assemblage de tableaux électriques. Développement de synopsys et utilisation d'outils de CAO pour la conception.
                        </p>
                     </div>
                     
                </div>
          
          </div>
          <div class="col4">
                <div class="card">
                    <div class="card-body">
                        <div class="icony"><img src="assets/images/idea.png"></div>
                        <h5 class="card-title">Mise en Œuvre sur Site</h5>
                        <br>
                        <p class="card-text">
                        Mise en œuvre de solutions sur site pour une intégration transparente. Assistance technique, maintenance et service.
                        </p>
                     </div>
                     
                </div>
          </div>
          <div class="col5">
                <div class="card">
                    <div class="card-body">
                        <div class="icony"><img src="assets/images/solution.png"></div>
                        <h5 class="card-title">Solutions de Haute Technologie</h5>
                        <p class="card-text">
                        Cotech et ses partenaires spécialisés proposent des solutions de haute précision utilisant les dernières technologies en matière de pesage et d'automatisation.
                        </p>
                     </div>
                     
                </div>
          </div>
        </div>
      
      
      
         
    </main>

    <footer>
      <div class="footer clear tahoma">
        <div class="footer_wrap">
            <div class="float_left bottom_nav">
                    <ul class="navigation-list">
                     <li><a href="/acceuil">Acceuil</a></li>
                     <li class="divider">|</li>
                     <li><a href="fpresentation">Présentation</a></li>
                     <li class="divider">|</li>
                     <li><a href="/fservices">Sérvices</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Réferences</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Activités</a></li>
                     <li class="divider">|</li>
                     <li><a href=""> Catalog</a></li>                     
                     <li><a href="">Equipement</a></li>
                     <li class="divider">|</li>
                     <li><a href="" >Certificats</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Clients</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Photos</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Vidéo</a></li>
                     <li class="divider">|</li>
                     <li><a href="/news">Actualités</a></li>
                     <li class="divider">|</li>
                     <li><a href="" >Newsletter</a></li>
                     <li class="divider">|</li>
                     <li><a href="">Contact</a></li>
                    </ul>
            </div>
            <div class="float_right ">
              <div class="copy">
                Copyright © 2013  www.cotechplanet.net 
                <span>Powered by <a href="" target="_blank">CRESUS</a></span>
              </div>
            </div>
          
        </div>
    </div>
      
    </footer>

</body>
</html>
